{% extends 'index/base.html' %}
{% block content %}
    <style>
        .custom-container {
            width: 100% !important;
            margin: 110px auto 0 auto;
            padding: 0 16px;
        }
        @media(max-width: 772px){
            p{
                font-size: 18px !important;
                line-height: 30px;
            }
        }

        @media(max-width: 772px){
            p{
                font-size: 18px !important;
                line-height: 30px !important;
            }

            .col-lg-6{
                padding: 0 10px 10px 10px !important;
            }

            .col-lg-6-video{
                padding: 0 20px 10px 20px !important;
            }

            .col-lg-6-video-2{
                padding: 0 20px 10px 20px !important;
            }

            .main-section{
                margin: 25px 0 !important;
            }
        }

        @media (min-aspect-ratio: 16/9) and (min-width: 1920px) {
            .custom-container {
                max-width: 1920px !important;
            }
        }
    </style>
    <div class="custom-container">
        <div class="main-section" style="border-radius: 1rem; margin: 0 0 50px 0; overflow: hidden;">
            <video autoplay loop muted playsinline style="width: 100%; display: block;">
                <source src="/static/portfolio/jeanwest/video1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="container-fluid main-section" style="border-radius: 1rem; margin: 50px 0; overflow: hidden; padding: 25px 7%;
                            background-image: url('/static/portfolio/jeanwest/texture-tile.png');">
            <!-- Header with logo -->
            <div class="section-border d-flex align-items-center mb-5"
                 style="border-bottom: 1px solid #444; ">
                <img src="/static/portfolio/jeanwest/logo.svg" alt="Jeanswest Logo"
                     style="width: 50vw; margin-bottom: -15px;">
            </div>

            <!-- Two column layout -->
            <div class="row" style="padding-left: 3%; padding-right: 3%">
                <!-- Left column: Info -->
                <div class="col-md-6 mb-4">
                    <h1 class="RayExtraBold mb-3" style="color: black">Info:</h1>
                    <p class="pb-4 pt-2" style="font-size: 25px; color: black">client: برند پوشاک جین وست</p>
                    <p class="pb-4" style="font-size: 25px; color: black">year: 1404</p>
                    <p class="pb-4" style="font-size: 25px; color: black">studio: استودیو خلاق کنترل بی</p>
                    <p class="pb-4" style="font-size: 25px; color: black">Art-director: الناز ازنادزاده </p>
                    <p class="pb-4" style="font-size: 25px; color: black">Illustrator: مطهره گلشن</p>
                    <p class="pb-4" style="font-size: 25px; color: black">Animator: دامیار فرصیاد</p>
                    <p class="pb-4" style="font-size: 25px; color: black">Composit: دامیار فرصیاد</p>
                    <p class="pb-4" style="font-size: 25px; color: black">Sound design: محمد حسین داستان</p>
                    <p class="pb-4" style="font-size: 25px; color: black">Narrator: محمد بابایی</p>
                </div>

                <!-- Right column: Text content -->
                <div class="col-md-6">
                    <div class="mb-4">
                        <h1 class="RayExtraBold mb-3" style="color: black; text-align: right">پروژه</h1>
                        <p style="text-align: right; direction: rtl">
                            جین‌وست، به‌عنوان یکی از برندهای شناخته‌شده پوشاک کژوال در ایران، در کمپین تخفیف ۷۰٪ خود
                            تصمیم گرفت به‌جای اطلاع‌رسانی صرف، تجربه‌ای متفاوت و تعاملی برای مخاطبانش رقم بزند.
                            <br>
                            بر همین اساس، یک بازی دیجیتال طراحی شد که در لندینگ‌پیج سایت قرار می‌گرفت. کاربران با پاسخ
                            به سوالات رندوم، امتیاز دریافت می‌کردند و در پایان، کد تخفیف شخصی‌سازی‌شده از طریق پیام
                            دریافت می‌نمودند.
                            <br>
                            ایده اصلی بازی با الهام از ارور 404 ویندوز شکل گرفت و یک کاراکتر ربات به‌عنوان راهنمای بازی
                            در نظر گرفته شد که فضای بازی را هدایت می‌کرد.
                        </p>
                    </div>
                    <div>
                        <h1 class="RayExtraBold mb-3 pt-5" style="color: black; text-align: right; direction: rtl">تحقیق و
                            طراحی</h1>
                        <p style="text-align: right; direction: rtl">
                            مبنای طراحی مفهومی پروژه، ترکیبی از نوستالژی دیجیتال، فضای تعاملی و لحن برند جین‌وست بود.
                            <br>
                            با محوریت ارور 404 ویندوز، کاراکتری رباتیک طراحی شد که در سناریوهای مختلف ظاهر می‌شد و به
                            انتخاب‌های کاربران واکنش نشان می‌داد.
                            <br>
                            در موشن معرفی بازی، این ربات نقش اصلی را ایفا می‌کرد و برای انتخاب‌های اشتباه، از ارجاعات
                            تصویری به خطاهای ویندوز استفاده می‌شد تا ارتباط بصری و مفهومی با بستر بازی حفظ شود.
                            <br>
                            استایل تصویرسازی نیمه‌فانتزی، انتخابی آگاهانه بود تا حس دیجیتال، سبک بازی، و طنز موجود در
                            کمپین به‌خوبی به مخاطب منتقل شود.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-section" style="border-radius:1rem; margin:50px 0; overflow:hidden;">
            <img
                    src="/static/portfolio/jeanwest/image1.png"
                    alt="…"
                    style="display:block; width:100%; height:auto;"
            >
        </div>

        <div class="container-fluid main-section" style="border-radius: 1rem; margin: 50px 0; overflow: hidden;
                            background-image: url('/static/portfolio/jeanwest/texture-tile.png')">
            <!-- Two column layout -->
            <div class="row">
                <!-- Left column: Info -->
                <div class="col-lg-6 mb-4" style="padding: 45px 10%">
                    <h1 class="RayExtraBold mb-3 pt-5 pb-3"
                        style="color: #c0272d; font-size: 40px; text-align: right; direction: rtl">پیش تولید</h1>
                    <p class="pb-4 pt-2" style="font-size: 25px; color: black; text-align: right; direction: rtl">
                        با تدوین سناریو و استوری‌بورد، مراحل تولید با طراحی فضاها، ساخت انیمیشن‌ها و فضاسازی داستانی
                        آغاز شد. ربات در فضاهای متنوعی ظاهر شد که هر کدام نماینده‌ی یکی از مسیرهای احتمالی بازی بودند.
                        انیمیشن‌ها با دقت در تایمینگ و حرکت طراحی شدند تا حس خطا، انتخاب، و تعامل را به‌درستی منتقل
                        کنند. در اجرای صدا، طراحی افکت‌های صوتی، موسیقی و نریشن با تمرکز بر حفظ لحن برند و تقویت فضای
                        بازی انجام شد.
                        خروجی نهایی، موشنی بود که با زبانی خلاق، مفهومی و سرگرم‌کننده، تجربه این بازی دیجیتال را به
                        مخاطبان معرفی می‌کرد.
                    </p>
                </div>

                <!-- Right column: Text content -->
                <div class="col-lg-6" style="padding: 25px 25px 25px 0">
                    <img src="/static/portfolio/jeanwest/image2.png" style="display:block; width:100%; height:auto; border-radius:1rem;">
                </div>
            </div>
        </div>

        <div class="main-section" style="border-radius:1rem; margin:50px 0; overflow:hidden;">
            <img
                    src="/static/portfolio/jeanwest/image3.jpg"
                    alt="…"
                    style="display:block; width:100%; height:auto;"
            >
        </div>

        <div class="container-fluid main-section" style="border-radius: 1rem; margin: 50px 0; overflow: hidden;
    background-image: url('/static/portfolio/jeanwest/texture-tile.png')">

            <!-- Two column layout -->
            <div class="row">
                <!-- Left column: Info -->
                <div class="col-lg-6 mb-4" style="padding: 45px 10%">
                    <h1 class="RayExtraBold mb-3 pt-5 pb-3"
                        style="color: #c0272d; font-size: 40px; text-align: right; direction: rtl">تولید</h1>
                    <p class="pb-4 pt-2" style="font-size: 25px; color: black; text-align: right; direction: rtl">
                        انیمیشن این پروژه به‌صورت دو‌بعدی و در قالب موشن‌گرافیک اجرا شد. تمامی حرکات کاراکتر، محیط و
                        جزئیات صحنه‌ها در نرم‌افزار After Effects طراحی و پیاده‌سازی شدند. تایمینگ دقیق حرکات و هماهنگی
                        آن با روایت داستانی، از جمله اولویت‌های فنی پروژه بود.
                        با توجه به نیاز به تولید نسخه‌های متنوع (عمودی و افقی) برای استفاده در پلتفرم‌های مختلف، تیم
                        انیمیشن با محدودیت زمانی و رندرهای چندباره مواجه بود که با مدیریت دقیق تایم‌لاین پروژه، این
                        چالش‌ها برطرف شدند.
                        حرکت دوربین، طراحی جزئیات تصویری مانند باد و برف، افکت‌های نوری و فضاسازی نیز در همین مرحله اجرا
                        شد تا حس تعاملی و نیمه‌فانتزی کمپین به‌درستی منتقل شود.
                    </p>
                </div>

                <!-- Right column: Stacked videos -->
                <div class="col-lg-6 d-flex flex-column justify-content-center gap-2 px-3" style="padding: 25px 25px 25px 0">
                    <div class="video-wrapper" style="flex: 1;">
                        <video autoplay loop muted playsinline style="width: 100%; height: auto; display: block; border-radius: 1rem">
                            <source src="/static/portfolio/jeanwest/video2.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid main-section" style="border-radius: 1rem; margin: 50px 0; overflow: hidden;
    background-image: url('/static/portfolio/jeanwest/texture-tile.png')">

            <!-- Two column layout -->
            <div class="row">
                <!-- Left column: Info -->
                <div class="col-lg-6 d-flex col-lg-6-video flex-column justify-content-center" style="padding: 25px 12.5px 25px 25px">
                    <div class="video-wrapper mt-2" style="flex: 1;">
                        <video autoplay loop muted playsinline style="width: 100%; height: auto; display: block; border-radius: 1rem">
                            <source src="/static/portfolio/jeanwest/video4.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <!-- Right column: Stacked videos -->
                <div class="col-lg-6 d-flex col-lg-6-video-2 flex-column justify-content-center" style="padding: 25px 25px 25px 12.5px">
                    <div class="video-wrapper mt-2" style="flex: 1;">
                        <video autoplay loop muted playsinline style="width: 100%; height: auto; display: block; border-radius: 1rem">
                            <source src="/static/portfolio/jeanwest/video3.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid main-section" style="border-radius: 1rem; margin: 50px 0; overflow: hidden;
    background-image: url('/static/portfolio/jeanwest/texture-tile.png')">

            <!-- Two column layout -->
            <div class="row">
                <!-- Left column: Info -->
                <div class="col-lg-6 mb-4" style="padding: 45px 10%">
                    <h1 class="RayExtraBold mb-3 pt-5 pb-3"
                        style="color: #c0272d; font-size: 40px; text-align: right; direction: rtl">پس‌تولید</h1>
                    <p class="pb-4 pt-2" style="font-size: 25px; color: black; text-align: right; direction: rtl">
                        در مرحله پس‌تولید، تمام لایه‌های بصری در ترکیب‌بندی نهایی تنظیم شدند. اصلاح رنگ، تنظیم نور، و
                        افزودن افکت‌هایی مانند عمق میدان، حرکت باد، نورپردازی سینمایی و افکت‌های محیطی، جلوه‌ای
                        واقع‌گرایانه‌تر به فضاها بخشیدند.
                        نریشن پروژه توسط گوینده ضبط و سپس به‌صورت کامل با تصویر سینک شد. افکت‌های صوتی اختصاصی برای هر
                        فضا—از جمله صدای باد، برف، چراغ، ساحل، شهر و فروشگاه—با دقت طراحی و میکس شدند.
                        موسیقی متن از مجموعه آهنگ‌های بدون کپی‌رایت انتخاب و در نرم‌افزار Adobe Audition با افکت‌های
                        محیطی و نریشن ترکیب شد تا یک تجربه صوتی منسجم و برندمحور شکل بگیرد.

                    </p>
                </div>

                <!-- Right column: Stacked videos -->
                <div class="col-lg-6 d-flex flex-column justify-content-center gap-2" style="padding: 25px 25px 25px 0">
                    <div class="video-wrapper mt-2" style="flex: 1;">
                        <video autoplay loop muted playsinline style="width: 100%; height: auto; display: block; border-radius: 1rem">
                            <source src="/static/portfolio/jeanwest/video5.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-section" style="border-radius:1rem; margin:50px 0; overflow:hidden;">
            <img
                    src="/static/portfolio/jeanwest/image4.png"
                    alt="…"
                    style="display:block; width:100%; height:auto;"
            >
        </div>
    </div>
{% endblock %}