{% extends 'index/base.html' %} {% block content %}
<img class="about-img" style="margin-top: -120px; margin-bottom: 50px" src='/static/images/abut us-3.jpg'>

    <div class="container" dir="rtl">
        <div class="ms-page ms-page--about text-component">
            <div class="text-component__inner"></div>

            <div class="ms_our-team">
                <h1 class="PeydaBold">داستان ما</h1>
                <p class="text-dark" style="font-size: 17px; text-align: justify">تیم کنترل‌بی، ترکیبی از طراحان، خلاقان و استراتژیست هایی است که به برندها در مسیر ساخت هویت، روایت‌گری و خلق ارتباط با مخاطبان کمک می‌کند. ما به داستان شما گوش می‌دهیم، و نقاط تماس برند شما را با مخاطبان می‌سازیم . از هویت بصری و فضای دیجیتال گرفته تا تجربیاتی که مشتریان در دنیای واقعی از برند شما لمس می‌کنند. ما در مواجهه با برند شما یک قدم عقب می‌رویم و به تمام ابزارهای ابراز شما فکر می‌کنیم تا  ارتباطتان با دنیای بیرون را شکل دهیم.  از طراحی هویت برند، تا شبکه‌های اجتماعی شما، در هر دو فضای فیزیکی و دیجیتال، کنار شما هستیم.</p>
                <h2 class="text-align-right pt-5">تیم ما</h2>
                <div class="row ms-p2">
                    <div class="grid-sizer col-sm-6 col-md-3 col-lg-3"></div>
                    <div class="grid-item col-sm-6 col-md-3 col-lg-3 pb-lg-5 pb-4">
                        <div class="team-member">
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/mohammad.jpg"
                                    class="attachment-jackryan-member-team size-jackryan-member-team"
                                    alt="محمد بابایی"
                                    decoding="async"
                                    loading="lazy"
                            />
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/mohammad.jpg"
                                    class="hover-image"
                                    alt="Hover Image"
                                    decoding="async"
                                    loading="lazy"
                                    style="display: none;"
                            />
                            <h4>محمد بابایی</h4>
                            <p>Founder & CEO</p>
                        </div>
                    </div>
                    <div class="grid-item col-sm-6 col-md-3 col-lg-3 pb-lg-5 pb-4">
                        <div class="team-member">
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/elnaz.jpg"
                                    class="attachment-jackryan-member-team size-jackryan-member-team"
                                    alt="Laura Nelson"
                                    decoding="async"
                                    loading="lazy"
                            />
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/elnaz.jpg"
                                    class="hover-image"
                                    alt="Hover Image"
                                    decoding="async"
                                    loading="lazy"
                                    style="display: none;"
                            />
                            <h4>الناز ازنادزاده</h4>
                            <p>Art Director</p>
                        </div>
                    </div>
                    <div class="grid-item col-sm-6 col-md-3 col-lg-3 pb-lg-5 pb-4">
                        <div class="team-member">
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/Mhossein.jpg"
                                    class="attachment-jackryan-member-team size-jackryan-member-team"
                                    alt="Laura Nelson"
                                    decoding="async"
                                    loading="lazy"
                            />
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/Mhossein.jpg"
                                    class="hover-image"
                                    alt="Hover Image"
                                    decoding="async"
                                    loading="lazy"
                                    style="display: none;"
                            />
                            <h4>محمدحسین داستان</h4>
                            <p>Creative Director</p>
                        </div>

                    </div>
                       <div class="grid-item col-sm-6 col-md-3 col-lg-3 pb-lg-5 pb-4">
                        <div class="team-member">
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/yeganeh.jpg"
                                    class="attachment-jackryan-member-team size-jackryan-member-team"
                                    alt="Laura Nelson"
                                    decoding="async"
                                    loading="lazy"
                            />
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/yeganeh.jpg"
                                    class="hover-image"
                                    alt="Hover Image"
                                    decoding="async"
                                    loading="lazy"
                                    style="display: none;"
                            />
                            <h4>یگانه سعادت سیرت</h4>
                            <p>Media Manager</p>
                        </div>
                    </div>
                    <div class="grid-item col-sm-6 col-md-3 col-lg-3 pb-lg-5 pb-4">
                        <div class="team-member">
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/barcin.jpg"
                                    class="attachment-jackryan-member-team size-jackryan-member-team"
                                    alt="Laura Nelson"
                                    decoding="async"
                                    loading="lazy"
                            />
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/barcin.jpg"
                                    class="hover-image"
                                    alt="Hover Image"
                                    decoding="async"
                                    loading="lazy"
                                    style="display: none;"
                            />
                            <h4>بارسین محمدی</h4>
                            <p>Human Recourses Specialist</p>
                        </div>

                    </div>
                    <div class="grid-item col-sm-6 col-md-3 col-lg-3 pb-lg-5 pb-4">
                        <div class="team-member">
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/mahshid.jpg"
                                    class="attachment-jackryan-member-team size-jackryan-member-team"
                                    alt="Laura Nelson"
                                    decoding="async"
                                    loading="lazy"
                            />
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/mahshid.jpg"
                                    class="hover-image"
                                    alt="Hover Image"
                                    decoding="async"
                                    loading="lazy"
                                    style="display: none;"
                            />
                            <h4>مهشید کجوری</h4>
                            <p>Project Manager</p>
                        </div>

                    </div>

                    <div class="grid-item col-sm-6 col-md-3 col-lg-3 pb-lg-5 pb-4">
                        <div class="team-member">
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/moti.jpg"
                                    class="attachment-jackryan-member-team size-jackryan-member-team"
                                    alt="Laura Nelson"
                                    decoding="async"
                                    loading="lazy"
                            />
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/moti.jpg"
                                    class="hover-image"
                                    alt="Hover Image"
                                    decoding="async"
                                    loading="lazy"
                                    style="display: none;"
                            />
                            <h4>مطهره گلشن</h4>
                            <p>Concept Artist</p>
                        </div>

                    </div>


                    <div class="grid-item col-sm-6 col-md-3 col-lg-3 pb-lg-5 pb-4">
                        <div class="team-member">
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/parnia.jpg"
                                    class="attachment-jackryan-member-team size-jackryan-member-team"
                                    alt="Laura Nelson"
                                    decoding="async"
                                    loading="lazy"
                            />
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/parnia.jpg"
                                    class="hover-image"
                                    alt="Hover Image"
                                    decoding="async"
                                    loading="lazy"
                                    style="display: none;"
                            />
                            <h4>پرنیا طهرانی</h4>
                            <p>Accountant</p>
                        </div>
                    </div>
                    <div class="grid-item col-sm-6 col-md-3 col-lg-3 pb-lg-5 pb-4">
                        <div class="team-member">
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/amirsaman-2.jpg"
                                    class="attachment-jackryan-member-team size-jackryan-member-team"
                                    alt="Laura Nelson"
                                    decoding="async"
                                    loading="lazy"
                            />
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/amirsaman-2.jpg"
                                    class="hover-image"
                                    alt="Hover Image"
                                    decoding="async"
                                    loading="lazy"
                                    style="display: none;"
                            />
                            <h4>امیرسامان شهرتی</h4>
                            <p>Web Developer</p>
                        </div>
                    </div>

                    <div class="grid-item col-sm-6 col-md-3 col-lg-3 pb-lg-5 pb-4">
                        <div class="team-member">
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/saman.jpg"
                                    class="attachment-jackryan-member-team size-jackryan-member-team"
                                    alt="Laura Nelson"
                                    decoding="async"
                                    loading="lazy"
                            />
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/saman.jpg"
                                    class="hover-image"
                                    alt="Hover Image"
                                    decoding="async"
                                    loading="lazy"
                                    style="display: none;"
                            />
                            <h4>سامان ورجاوند</h4>
                            <p>Graphic Consultant</p>
                        </div>
                    </div>
                    <div class="grid-item col-sm-6 col-md-3 col-lg-3 pb-lg-5 pb-4">
                        <div class="team-member">
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/narges.jpg"
                                    class="attachment-jackryan-member-team size-jackryan-member-team"
                                    alt="Laura Nelson"
                                    decoding="async"
                                    loading="lazy"
                            />
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/narges.jpg"
                                    class="hover-image"
                                    alt="Hover Image"
                                    decoding="async"
                                    loading="lazy"
                                    style="display: none;"
                            />
                            <h4>نرگس فانی</h4>
                            <p>Photographer</p>
                        </div>
                    </div>
                    <div class="grid-item col-sm-6 col-md-3 col-lg-3 pb-lg-5 pb-4">
                        <div class="team-member">
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/khosro.jpg"
                                    class="attachment-jackryan-member-team size-jackryan-member-team"
                                    alt="Laura Nelson"
                                    decoding="async"
                                    loading="lazy"
                            />
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/khosro.jpg"
                                    class="hover-image"
                                    alt="Hover Image"
                                    decoding="async"
                                    loading="lazy"
                                    style="display: none;"
                            />
                            <h4>خسرو پرخیده</h4>
                            <p>Production manager</p>
                        </div>
                    </div>
                    <div class="grid-item col-sm-6 col-md-3 col-lg-3 pb-lg-5 pb-4">
                        <div class="team-member">
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/babak.jpg"
                                    class="attachment-jackryan-member-team size-jackryan-member-team"
                                    alt="Laura Nelson"
                                    decoding="async"
                                    loading="lazy"
                            />
                            <img
                                    width="443"
                                    height="576"
                                    src="/static/images/team/babak.jpg"
                                    class="hover-image"
                                    alt="Hover Image"
                                    decoding="async"
                                    loading="lazy"
                                    style="display: none;"
                            />
                            <h4>بابک بیگی</h4>
                            <p>Animation director</p>
                        </div>
                    </div>
                    {#          <div class="grid-item col-sm-6 col-md-3 col-lg-3 pb-lg-5 pb-4">#}
                    {#            <div class="team-member">#}
                    {#                <img#}
                    {#                    width="443"#}
                    {#                    height="576"#}
                    {#                    src="../static/wp-content/uploads/2020/07/team1-443x576.jpg"#}
                    {#                    class="attachment-jackryan-member-team size-jackryan-member-team"#}
                    {#                    alt="Laura Nelson"#}
                    {#                    decoding="async"#}
                    {#                    loading="lazy"#}
                    {#                />#}
                    {#                <img#}
                    {#                    width="443"#}
                    {#                    height="576"#}
                    {#                    src="../static/wp-content/uploads/2020/04/team2-443x576.jpg"#}
                    {#                    class="hover-image"#}
                    {#                    alt="Hover Image"#}
                    {#                    decoding="async"#}
                    {#                    loading="lazy"#}
                    {#                    style="display: none;"#}
                    {#                />#}
                    {#                <h4>Laura Nelson</h4>#}
                    {#                <p>Product Manager</p>#}
                    {#            </div>#}
                    {#          </div>#}
                </div>
            </div>

            {% comment %} <div class="ms_services">
      <h2 class="text-align-right">Services</h2>
      <div class="row ms-p2">
        <div class="grid-sizer col-sm-6 col-md-4 col-lg-4"></div>
        <div class="grid-item col-sm-6 col-md-4 col-lg-4 pb-5">
          <div class="ms_services--heading">
            <img
              src="../static/wp-content/uploads/2020/06/blue-phone-icon-png-61.png"
            />
            <h4>Emerging technologies.</h4>
          </div>
          <p>
            Continually simplify corporate systems whereas leveraged models.
            Appropriately streamline long-term high-impact technologies without
            bricks-and-clicks web-readiness.
          </p>
        </div>
        <div class="grid-item col-sm-6 col-md-4 col-lg-4 pb-5">
          <div class="ms_services--heading">
            <img src="../static/wp-content/uploads/2020/06/5.png" />
            <h4>Experience &amp; interface design.</h4>
          </div>
          <p>
            Progressively customize granular value via user-centric
            architectures. Professionally impact client-centric vortals via
            process-centric experiences.
          </p>
        </div>
        <div class="grid-item col-sm-6 col-md-4 col-lg-4 pb-5">
          <div class="ms_services--heading">
            <img src="../static/wp-content/uploads/2020/06/4.png" />
            <h4>UX design.</h4>
          </div>
          <p>
            Enthusiastically expedite user friendly alignments rather than
            parallel initiatives. Interactively embrace extensible collaboration
            and idea-sharing for economically sound expertise.
          </p>
        </div>
        <div class="grid-item col-sm-6 col-md-4 col-lg-4 pb-5">
          <div class="ms_services--heading">
            <img src="../static/wp-content/uploads/2020/06/2.png" />
            <h4>Digital branding.</h4>
          </div>
          <p>
            Assertively parallel task intermandated technologies through
            customized sources. Conveniently aggregate web-enabled niche markets
            with market positioning collaboration and idea-sharing.
          </p>
        </div>
        <div class="grid-item col-sm-6 col-md-4 col-lg-4 pb-5">
          <div class="ms_services--heading">
            <img src="../static/wp-content/uploads/2020/06/3.png" />
            <h4>Creative development.</h4>
          </div>
          <p>
            Enthusiastically matrix distributed leadership skills for
            out-of-the-box outsourcing. Appropriately architect standardized
            value after compelling initiatives.
          </p>
        </div>
        <div class="grid-item col-sm-6 col-md-4 col-lg-4 pb-5">
          <div class="ms_services--heading">
            <img src="../static/wp-content/uploads/2020/06/1.png" />
            <h4>Marketing Strategy.</h4>
          </div>
          <p>
            Compellingly fabricate high-quality products rather than wireless
            scenarios. Globally seize integrated outsourcing with highly
            efficient e-services.
          </p>
        </div>
      </div>
    </div> {% endcomment %}

            {% comment %} <div class="ms_experience">
      <h2 class="text-align-left">Experience</h2>

      <div class="row">
        <div class="grid-sizer col-sm-6 col-md-3 col-lg-3"></div>

        <div class="grid-item col-sm-6 col-md-3 col-lg-3">
          <p class="company_name">Redline Marketing</p>
          <p class="year">2003 - 2008</p>
        </div>

        <div class="grid-item col-sm-6 col-md-9 col-lg-9">
          <div class="experience-text">
            <p>
              Progressively unleash economically sound architectures before
              magnetic alignments. Progressively predominate turnkey models with
              impactful convergence. Dynamically restore cost effective
              infrastructures rather than revolutionary bandwidth. Uniquely
              matrix turnkey alignments rather than stand-alone functionalities.
              Continually matrix end-to-end process improvements vis-a-vis 2.0
              intellectual capital.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid-sizer col-sm-6 col-md-3 col-lg-3"></div>

        <div class="grid-item col-sm-6 col-md-3 col-lg-3">
          <p class="company_name">Big Boss Company</p>
          <p class="year">2008 - 2010</p>
        </div>

        <div class="grid-item col-sm-6 col-md-9 col-lg-9">
          <div class="experience-text">
            <p>
              Authoritatively network world-class vortals for value-added
              functionalities. Continually restore plug-and-play e-business
              without ethical architectures. Compellingly reinvent unique
              metrics before clicks-and-mortar catalysts for change. Rapidiously
              scale cooperative portals through bleeding-edge total linkage.
              Phosfluorescently fabricate long-term high-impact deliverables via
              bricks-and-clicks bandwidth.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid-sizer col-sm-6 col-md-3 col-lg-3"></div>

        <div class="grid-item col-sm-6 col-md-3 col-lg-3">
          <p class="company_name">Happy Chappy</p>
          <p class="year">2010 -2015</p>
        </div>

        <div class="grid-item col-sm-6 col-md-9 col-lg-9">
          <div class="experience-text">
            <p>
              Intrinsicly actualize standardized mindshare via process-centric
              internal or &quot;organic&quot; sources. Intrinsicly reinvent
              cross-media experiences with accurate models. Intrinsicly
              disseminate sticky benefits without viral niches. Efficiently
              leverage existing highly efficient action items after orthogonal
              innovation. Credibly reinvent resource-leveling niches and
              economically sound platforms.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid-sizer col-sm-6 col-md-3 col-lg-3"></div>

        <div class="grid-item col-sm-6 col-md-3 col-lg-3">
          <p class="company_name">Flame on Publishing</p>
          <p class="year">2015 - 2020</p>
        </div>

        <div class="grid-item col-sm-6 col-md-9 col-lg-9">
          <div class="experience-text">
            <p>
              Globally create error-free leadership and customer directed niche
              markets. Completely create future-proof methodologies via
              standardized web-readiness. Objectively leverage existing low-risk
              high-yield content for backward-compatible schemas.
              Synergistically morph efficient manufactured products rather than
              ethical process improvements. Collaboratively plagiarize efficient
              markets and next-generation mindshare.
            </p>
          </div>
        </div>
      </div>
    </div> {% endcomment %}

            {% comment %} <div class="ms_clients-gallery">
      <hr class="wp-block-separator is-style-wide" />
      <div class="row ms-p2 justify-center">
        <div class="grid-sizer col-sm-4 col-md-2 col-lg-3"></div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="300"
            height="143"
            src="../static/wp-content/uploads/2020/05/barbq_logo.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
          />
        </div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="300"
            height="150"
            src="../static/wp-content/uploads/2020/05/s_logo.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
          />
        </div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="300"
            height="150"
            src="../static/wp-content/uploads/2020/05/global_logo.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
          />
        </div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="300"
            height="150"
            src="../static/wp-content/uploads/2020/05/digital_logo.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
          />
        </div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="300"
            height="86"
            src="../static/wp-content/uploads/2020/05/sports_logo.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
          />
        </div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="300"
            height="37"
            src="../static/wp-content/uploads/2020/05/nucleolus_logo.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
          />
        </div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="300"
            height="76"
            src="../static/wp-content/uploads/2020/05/music_logo.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
          />
        </div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="300"
            height="70"
            src="../static/wp-content/uploads/2020/05/chat_logo.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
          />
        </div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="300"
            height="103"
            src="../static/wp-content/uploads/2020/05/cartoon_logo.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
          />
        </div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="300"
            height="146"
            src="../static/wp-content/uploads/2020/05/red_logo.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
          />
        </div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="300"
            height="143"
            src="../static/wp-content/uploads/2020/05/health_logo.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
          />
        </div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="300"
            height="112"
            src="../static/wp-content/uploads/2020/05/live_logo.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
          />
        </div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="300"
            height="61"
            src="../static/wp-content/uploads/2020/05/retrotv_logo3.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
          />
        </div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="238"
            height="239"
            src="../static/wp-content/uploads/2020/05/xing2.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
            srcset="
              ../static/wp-content/uploads/2020/05/xing2.png         238w,
              ../static/wp-content/uploads/2020/05/xing2-150x150.png 150w,
              ../static/wp-content/uploads/2020/05/xing2-50x50.png    50w,
              ../static/wp-content/uploads/2020/05/xing2-64x64.png    64w
            "
            sizes="(max-width: 238px) 100vw, 238px"
          />
        </div>
        <div class="c_logo grid-item col-4 col-md-3 col-lg-2">
          <img
            width="238"
            height="45"
            src="../static/wp-content/uploads/2020/05/envato.png"
            class="attachment-0 size-0"
            alt=""
            decoding="async"
            loading="lazy"
          />
        </div>
      </div>
    </div> {% endcomment %}
        </div>
    </div>

    <script>
        // ابتدا تمام عناصر team-member را انتخاب می‌کنیم
        const teamMembers = document.querySelectorAll('.team-member');

        teamMembers.forEach(member => {
            const hoverImage = member.querySelector('.hover-image'); // انتخاب تصویر hover
            const normalImage = member.querySelector('img:not(.hover-image)'); // انتخاب تصویر عادی

            // وقتی موس روی تصویر رفت
            member.addEventListener('mouseover', function () {
                hoverImage.style.display = 'block'; // نمایش تصویر دوم
                normalImage.style.display = 'none'; // پنهان کردن تصویر اول
            });

            // وقتی موس از روی تصویر خارج شد
            member.addEventListener('mouseout', function () {
                hoverImage.style.display = 'none'; // پنهان کردن تصویر دوم
                normalImage.style.display = 'block'; // نمایش تصویر اول
            });
        });
    </script>

{% endblock %}
