{% extends 'index/base.html' %}
{% block content %}

    <div class="margin-top-lg"></div>
    <section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
        <div class="container">
            <div class="hero__content">
                {#            <span>نمونه کار ها</span>#}
                <h2 class="portfolio-title" style="text-align: center; font-size: 50px">هویت برند و کسب و کار</h2>
                <p style="margin-top: 30px; font-size: 20px; text-align: justify; max-width: none !important;">
                    هویت برند شما، ویژگی‌ای است که شما را از رقبا جدا می‌سازد.
                    <br>
                    این هویت تنها به شعار و نشان تجاری شما ختم نمی‌شود ،بلکه امضای کسب و کار شما را شکل می‌دهد. هویتی که می‌گوید شما چه هستید و چه تجربه‌ای برای مخاطب خلق می‌کنید. هر جزئیات و هر پیامی که ارسال ‌می‌کنید، باید نمایانگر این هویت باشد تا مخاطب بتواند شما را در میان دیگران بشناسد و انتخاب کند.
                </p>
            </div>
        </div>
    </section>

    <div class="container ms-content text-right" dir="rtl">


        <div class="work-grid row grid-content portfolio-feed ms-p2">
		<span class="load_filter">
			<svg class="load-filter-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 width="45px" height="45px" viewbox="0 0 100 100" preserveaspectratio="xMidYMid">
		    <circle cx="50" cy="50" r="30" stroke="" stroke-width="0" fill="none"></circle>
		    <circle cx="50" cy="50" r="30" stroke="" stroke-width="6" stroke-linecap="round" fill="none"
                    transform="rotate(307.62 50 50)">
		      <animatetransform attributename="transform" type="rotate" repeatcount="indefinite" dur="1s"
                                values="0 50 50;180 50 50;720 50 50" keytimes="0;0.5;1"></animatetransform>
		      <animate attributename="stroke-dasharray" repeatcount="indefinite" dur="1s"
                       values="18.84955592153876 169.64600329384882;94.2477796076938 94.24777960769377;18.84955592153876 169.64600329384882"
                       keytimes="0;0.5;1"></animate>
		    </circle>
		</svg></span>
            <div class="grid-sizer col-sm-12 col-md-6 col-sm-6"></div>
            <div class="grid-item col-sm-12 col-md-6 col-sm-6 pb-5">
                <div class="work-card card--is-link">
                    <a href="{% url 'portfolio-zelmond' %}" class="work-card__img-link" aria-label="Servant of Academy">
                        <figure class="work-card__img media-wrapper media-wrapper--4:3">
                            <img src="/static/images/zelmond.jpg"
                                 alt="Servant of Academy">
                            <span class="overlay"></span>
                            <div class="glow-wrap"><i class="glow vertical"></i></div>
                        </figure>
                    </a>
                    <div class="work-card__content text-overlay">
{#                        <span class="work-card__badge margin-bottom-xxs">design</span>#}
                        <a href="{% url 'portfolio-zelmond' %}" class="work-card__title">
                            <h3 class="PeydaSemiBold">Zelmond</h3>
                        </a>
                        <a href="{% url 'portfolio-zelmond' %}" class="work-card__link">Show Project
                            <svg class="icon" viewbox="0 0 12 12">
                                <g stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="11.5" y1="6" x2="0.5" y2="6"></line>
                                    <polyline points="7.5 2 11.5 6 7.5 10"></polyline>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
{#            <div class="grid-item col-sm-12 col-md-6 col-sm-6 pb-5">#}
{#                <div class="work-card card--is-link">#}
{#                    <a href="" class="work-card__img-link" aria-label="The Kissing Eyes">#}
{#                        <figure class="work-card__img media-wrapper media-wrapper--4:3">#}
{#                            <img src="/static/images/dyarino.jpg"#}
{#                                 alt="The Kissing Eyes">#}
{#                            <span class="overlay"></span>#}
{#                            <div class="glow-wrap"><i class="glow vertical"></i></div>#}
{#                        </figure>#}
{#                    </a>#}
{#                    <div class="work-card__content text-overlay">#}
{#                        <span class="work-card__badge margin-bottom-xxs">trend</span>#}
{#                        <a href="" class="work-card__title">#}
{#                            <h3>Dyarino</h3>#}
{#                        </a>#}
{#                        <a href="" class="work-card__link">Show Project#}
{#                            <svg class="icon" viewbox="0 0 12 12">#}
{#                                <g stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">#}
{#                                    <line x1="11.5" y1="6" x2="0.5" y2="6"></line>#}
{#                                    <polyline points="7.5 2 11.5 6 7.5 10"></polyline>#}
{#                                </g>#}
{#                            </svg>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="grid-item col-sm-12 col-md-6 col-sm-6 pb-5">
                <div class="work-card card--is-link">
                    <a href="{% url 'portfolio-detail' %}" class="work-card__img-link" aria-label="Silk of Secrets">
                        <figure class="work-card__img media-wrapper media-wrapper--4:3">
                            <img src="/static/images/ghoghnoos.jpg"
                                 alt="Silk of Secrets">
                            <span class="overlay"></span>
                            <div class="glow-wrap"><i class="glow vertical"></i></div>
                        </figure>
                    </a>
                    <div class="work-card__content text-overlay">
{#                        <span class="work-card__badge margin-bottom-xxs">project</span>#}
                        <a href="{% url 'portfolio-detail' %}" class="work-card__title">
                            <h3>Ghoghnoos NGO</h3>
                        </a>
                        <a href="{% url 'portfolio-detail' %}" class="work-card__link">Show Project
                            <svg class="icon" viewbox="0 0 12 12">
                                <g stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="11.5" y1="6" x2="0.5" y2="6"></line>
                                    <polyline points="7.5 2 11.5 6 7.5 10"></polyline>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
{#            <div class="grid-item col-sm-12 col-md-6 col-sm-6 pb-5">#}
{#                <div class="work-card card--is-link">#}
{#                    <a href="" class="work-card__img-link" aria-label="Silk of Secrets">#}
{#                        <figure class="work-card__img media-wrapper media-wrapper--4:3">#}
{#                            <img src="/static/images/ghasedak.jpg"#}
{#                                 alt="Silk of Secrets">#}
{#                            <span class="overlay"></span>#}
{#                            <div class="glow-wrap"><i class="glow vertical"></i></div>#}
{#                        </figure>#}
{#                    </a>#}
{#                    <div class="work-card__content text-overlay">#}
{#                        <span class="work-card__badge margin-bottom-xxs">project</span>#}
{#                        <a href="" class="work-card__title">#}
{#                            <h3>Ghasedak</h3>#}
{#                        </a>#}
{#                        <a href="" class="work-card__link">Show Project#}
{#                            <svg class="icon" viewbox="0 0 12 12">#}
{#                                <g stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">#}
{#                                    <line x1="11.5" y1="6" x2="0.5" y2="6"></line>#}
{#                                    <polyline points="7.5 2 11.5 6 7.5 10"></polyline>#}
{#                                </g>#}
{#                            </svg>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>

        <div class="ms-pagination works-pagination">

            <circle cx="50" cy="50" r="30" stroke="" stroke-width="0" fill="none"></circle>
            <circle cx="50" cy="50" r="30" stroke="" stroke-width="8" stroke-linecap="round" fill="none"
                    transform="rotate(307.62 50 50)">
                <animatetransform attributename="transform" type="rotate" repeatcount="indefinite" dur="1s"
                                  values="0 50 50;180 50 50;720 50 50" keytimes="0;0.5;1"></animatetransform>
                <animate attributename="stroke-dasharray" repeatcount="indefinite" dur="1s"
                         values="18.84955592153876 169.64600329384882;94.2477796076938 94.24777960769377;18.84955592153876 169.64600329384882"
                         keytimes="0;0.5;1"></animate>
            </circle>
            </svg></span></button></div>
    </div>

    </div>

{% endblock %}