{% extends 'index/base.html' %}
{% block content %}
    <style>
        @media (max-width: 48rem) {
            .swiper-full-page .slide-title-container::after {
                background: none !important;
            }

            .dark-title {
                font-size: 25px !important;
                text-align: center !important;
                margin-top: 220px;
                left: 0;
                margin-right: 21vw !important;
            }

            @media screen and (max-width: 768px) {
                .dark-title {
                    margin-right: 0 !important;
                }
            }

        }
    </style>
    <div class="swiper-container swiper-full-page">
        <div class="swiper-wrapper">
            <!-- Slide 1 -->
            <div class="swiper-slide" data-swiper-autoplay="10000" data-autoplay="true">
                <div class="swiper-slide__inner">
                    <div class="slide-image">
                        <!-- ویدیو پس‌زمینه (Blurred) -->
                        <video class="background-video blurred" autoplay loop muted playsinline>
                            <source src="/static/images/homepage-gifs/baroot-home-gif1-mobile.mp4"
                                    media="(max-width: 768px)" type="video/mp4">
                            <source src="/static/images/homepage-gifs/baroot-home-gif1.mp4" media="(min-width: 769px)"
                                    type="video/mp4">
                        </video>

                        <div class="logo-slider-dark">
                            <a href="{% url 'index' %}">
                                <img src="/static/images/logo-white-white.svg" alt="Baroot">
                            </a>
                        </div>
                    </div>

                    <div class="slide-title-container row">
                        <div class="slide-title--inner">
                            <div class="slide-info__left">
                                <div class="ms-slide-count">
                                    <span>01</span>
                                    <span class="total-count"></span>
                                </div>
                                <div class="slide-title">
                                    <h3 class="RayBlack dark-title"
                                        style="font-size: calc(3vw + 1vw); color: white">
                                        طراحی برند
                                    </h3>
                                    <a href="/works/?f=brand-design" style="margin-top: 30px" target=""
                                       class="slide-link PeydaRegular" rel="noreferrer">
                                        See More <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-prev">
                        <svg version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <polyline class="st0" points="11,18 16,13 21,18 "></polyline>
                            <path class="st0"
                                  d="M21,29H11c-4.4,0-8-3.6-8-8V11c0-4.4,3.6-8,8-8h10c4.4,0,8,3.6,8,8v10C29,25.4,25.4,29,21,29z"></path>
                </svg>
                    </div>

                    <div class="swiper-button-next">
                        <svg version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <polyline class="st0" points="21,14 16,19 11,14 "></polyline>
                            <path class="st0"
                                  d="M21,29H11c-4.4,0-8-3.6-8-8V11c0-4.4,3.6-8,8-8h10c4.4,0,8,3.6,8,8v10C29,25.4,25.4,29,21,29z"></path>
                </svg>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="swiper-slide" data-swiper-autoplay="10000" data-autoplay="true">
                <div class="swiper-slide__inner">
                    <div class="slide-image baroot-slide3">
                        <video class="background-video blurred" autoplay loop muted playsinline>
                            <source src="/static/images/homepage-gifs/baroot-home-gif4-mobile.mp4"
                                    media="(max-width: 768px)" type="video/mp4">
                            <source src="/static/images/homepage-gifs/baroot-home-gif4.mp4" media="(min-width: 769px)"
                                    type="video/mp4">
                        </video>

                        <div class="logo-slider-dark">
                            <a href="{% url 'index' %}">
                                <img src="/static/images/logo-white-white.svg" alt="Baroot">
                            </a>
                        </div>
                    </div>

                    <div class="slide-title-container row">
                        <div class="slide-title--inner">
                            <div class="slide-info__left">
                                <div class="ms-slide-count">
                                    <span>04</span>
                                    <span class="total-count"></span>
                                </div>
                                <div class="slide-title">
                                    <h3 class="RayBlack dark-title" style="font-size: calc(3vw + 1vw); color: white">
                                        طراحی و تولید محتوا
                                    </h3>
                                    <a href="/works/?f=content-creation" style="margin-top: 30px" target=""
                                       class="slide-link PeydaRegular" rel="noreferrer">
                                        See More <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-prev">
                        <svg version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <polyline class="st0" points="11,18 16,13 21,18 "></polyline>
                            <path class="st0"
                                  d="M21,29H11c-4.4,0-8-3.6-8-8V11c0-4.4,3.6-8,8-8h10c4.4,0,8,3.6,8,8v10C29,25.4,25.4,29,21,29z"></path>
                </svg>
                    </div>

                    <div class="swiper-button-next">
                        <svg version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <polyline class="st0" points="21,14 16,19 11,14 "></polyline>
                            <path class="st0"
                                  d="M21,29H11c-4.4,0-8-3.6-8-8V11c0-4.4,3.6-8,8-8h10c4.4,0,8,3.6,8,8v10C29,25.4,25.4,29,21,29z"></path>
                </svg>
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="swiper-slide" data-swiper-autoplay="10000" data-autoplay="true">
                <div class="swiper-slide__inner">
                    <div class="slide-image baroot-slide2">
                        <!-- ویدیو پس‌زمینه (Blurred) -->
                        <video class="background-video blurred" autoplay loop muted playsinline>
                            <source src="/static/images/homepage-gifs/baroot-home-gif2-mobile.mp4"
                                    media="(max-width: 768px)" type="video/mp4">
                            <source src="/static/images/homepage-gifs/baroot-home-gif2.mp4" media="(min-width: 769px)"
                                    type="video/mp4">
                        </video>

                        <div class="logo-slider-dark">
                            <a href="{% url 'index' %}">
                                <img src="/static/images/logo-white.svg" alt="Baroot">
                            </a>
                        </div>
                    </div>

                    <div class="slide-title-container row">
                        <div class="slide-title--inner">
                            <div class="slide-info__left">
                                <div class="ms-slide-count">
                                    <span>02</span>
                                    <span class="total-count"></span>
                                </div>
                                <div class="slide-title">
                                    <h3 class="RayBlack dark-title" style="font-size: calc(3vw + 1vw); color: #005778">
                                        هویت بصری برند
                                    </h3>
                                    <a href="/works/?f=visual-identity" style="margin-top: 30px; color: #005778 !important;" target=""
                                       class="slide-link PeydaRegular" rel="noreferrer">
                                        See More <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-prev">
                        <svg version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <polyline class="st0" points="11,18 16,13 21,18 "></polyline>
                            <path class="st0"
                                  d="M21,29H11c-4.4,0-8-3.6-8-8V11c0-4.4,3.6-8,8-8h10c4.4,0,8,3.6,8,8v10C29,25.4,25.4,29,21,29z"></path>
                </svg>
                    </div>

                    <div class="swiper-button-next">
                        <svg version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <polyline class="st0" points="21,14 16,19 11,14 "></polyline>
                            <path class="st0"
                                  d="M21,29H11c-4.4,0-8-3.6-8-8V11c0-4.4,3.6-8,8-8h10c4.4,0,8,3.6,8,8v10C29,25.4,25.4,29,21,29z"></path>
                </svg>
                    </div>
                </div>
            </div>

            <!-- Slide 4 -->
            <div class="swiper-slide" data-swiper-autoplay="10000" data-autoplay="true">
                <div class="swiper-slide__inner">
                    <div class="slide-image baroot-slide3">
                        <!-- ویدیو پس‌زمینه (Blurred) -->
                        <video class="background-video blurred" autoplay loop muted playsinline>
                            <source src="/static/images/homepage-gifs/baroot-home-gif3-mobile.mp4"
                                    media="(max-width: 768px)" type="video/mp4">
                            <source src="/static/images/homepage-gifs/baroot-home-gif3.mp4" media="(min-width: 769px)"
                                    type="video/mp4">
                        </video>

                        <div class="logo-slider-dark">
                            <a href="{% url 'index' %}">
                                <img src="/static/images/logo-white-white.svg" alt="Baroot">
                            </a>
                        </div>
                    </div>

                    <div class="slide-title-container row">
                        <div class="slide-title--inner">
                            <div class="slide-info__left">
                                <div class="ms-slide-count">
                                    <span>03</span>
                                    <span class="total-count"></span>
                                </div>
                                <div class="slide-title">
                                    <h3 class="RayBlack dark-title" style="font-size: calc(3vw + 1vw); color: white">
                                        عکاسی و فیلم‌برداری تبلیغاتی
                                    </h3>
                                    <a href="/works/?f=photography-and-videography" style="margin-top: 30px" target=""
                                       class="slide-link PeydaRegular" rel="noreferrer">
                                        See More <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-prev">
                        <svg version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <polyline class="st0" points="11,18 16,13 21,18 "></polyline>
                            <path class="st0"
                                  d="M21,29H11c-4.4,0-8-3.6-8-8V11c0-4.4,3.6-8,8-8h10c4.4,0,8,3.6,8,8v10C29,25.4,25.4,29,21,29z"></path>
                </svg>
                    </div>

                    <div class="swiper-button-next">
                        <svg version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <polyline class="st0" points="21,14 16,19 11,14 "></polyline>
                            <path class="st0"
                                  d="M21,29H11c-4.4,0-8-3.6-8-8V11c0-4.4,3.6-8,8-8h10c4.4,0,8,3.6,8,8v10C29,25.4,25.4,29,21,29z"></path>
                </svg>
                    </div>
                </div>
            </div>

            <!-- Slide 5 -->
            <div class="swiper-slide" data-swiper-autoplay="10000" data-autoplay="true">
                <div class="swiper-slide__inner">
                    <div class="slide-image baroot-slide3">
                        <!-- ویدیو پس‌زمینه (Blurred) -->
                        <video class="background-video blurred" autoplay loop muted playsinline>
                            <source src="/static/images/homepage-gifs/baroot-home-gif5-mobile.mp4"
                                    media="(max-width: 768px)" type="video/mp4">
                            <source src="/static/images/homepage-gifs/baroot-home-gif5.mp4" media="(min-width: 769px)"
                                    type="video/mp4">
                        </video>

                        <div class="logo-slider-dark">
                            <a href="{% url 'index' %}">
                                <img src="/static/images/logo-white.svg" alt="Baroot">
                            </a>
                        </div>
                    </div>

                    <div class="slide-title-container row">
                        <div class="slide-title--inner">
                            <div class="slide-info__left">
                                   <div class="ms-slide-count">
                                    <span>05</span>
                                    <span class="total-count"></span>
                                </div>
                                <div class="slide-title">
                                    <h3 class="RayBlack dark-title" style="font-size: calc(3vw + 1vw); color: #005778">
                                        طراحی کمپین
                                    </h3>
                                    <a href="/works/?f=campaign-design" style="margin-top: 30px; color: #005778 !important   " target=""
                                       class="slide-link PeydaRegular" rel="noreferrer">
                                        See More <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-prev">
                        <svg version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <polyline class="st0" points="11,18 16,13 21,18 "></polyline>
                            <path class="st0"
                                  d="M21,29H11c-4.4,0-8-3.6-8-8V11c0-4.4,3.6-8,8-8h10c4.4,0,8,3.6,8,8v10C29,25.4,25.4,29,21,29z"></path>
                </svg>
                    </div>

                    <div class="swiper-button-next">
                        <svg version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <polyline class="st0" points="21,14 16,19 11,14 "></polyline>
                            <path class="st0"
                                  d="M21,29H11c-4.4,0-8-3.6-8-8V11c0-4.4,3.6-8,8-8h10c4.4,0,8,3.6,8,8v10C29,25.4,25.4,29,21,29z"></path>
                </svg>
                    </div>
                </div>
            </div>
        </div>

        </div>

{#        <ul class="socials">#}
{#            <li class="ms-btn"><a class="socicon-linkedin" title="Linkedin" target="_blank"#}
{#                                  href="https://www.linkedin.com/company/thebarootdesign/"></a></li>#}
{#            <li class="ms-btn"><a class="socicon-instagram" title="Instagram" target="_blank"#}
{#                                  href="https://www.instagram.com/baroot.design/"></a></li>#}
{#        </ul>#}
        <div class="slider footer-copyright RayLight">
            <p>Copyright &copy; 2025. Developed by Baroot</p>
        </div>
    </div>
    <div class="swiper-counter" data-counter="/ 04">
    </div>

{% endblock %}