{% extends 'index/base.html' %}
{% block content %}

    <div class="margin-top-lg"></div>
    <section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
        <div class="container">
            <div class="hero__content">
                <h2 class="portfolio-title PeydaBlack" style="text-align: center; font-size: 50px">نگهبان ماموت</h2>
            </div>
        </div>
    </section>

    <div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-12">
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">خانواده فردوس
                    در روز پدر، به منظور رونمایی از کتاب نگهبان ماموت و بزرگداشت بهروز فردوس در صدد ساخت یک ویدئو برای
                    نمایش در رویداد بودند . تیم "کنترل بی" پیشنهاد جایگزینی انیمیشن به جای ویدئو را در پروپوزال ارائه
                    کرد که با استقبال خانواده همراه شد. </p>
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">با توجه به
                    زندگینامه بهروز فردوس که اتفاقات در زمان ها و مکان های زیاد و مختلفی میافتاد ایده ی ساخت انیمیشنی به
                    سبک کلاژ تایید و اجرا شد. برای ساخت این انیمیشن از تکنیک‌هایی نظیر انیمیشن فریم به فریم، استاپ موشن،
                    کات اوت و فوتو موشن استفاده شد.</p>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/negahban1.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/negahban2.jpeg" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/negahban3.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/negahban4.jpeg" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/negahban5.png" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/negahban6.png" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/negahban7.png" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/negahban8.png" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/negahban9.png" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/negahban10.png" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/negahban11.png" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/negahban12.png" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/negahban13.png" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/negahban14.png" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/negahban15.png" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/negahban16.png" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-12">
                <img src="/static/images/portfolio-detail/negahban17.png" class="w-100"/>
            </div>
        </div>

    </div>

{% endblock %}