{% extends 'index/base.html' %}
{% block content %}

<div class="margin-top-lg"></div>
<section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
    <div class="container">
        <div class="hero__content">
            <h2 class="portfolio-title PeydaBlack" style="text-align: center; font-size: 50px">قبیله
                </h2>
            <h3 class="portfolio-title mt-3 PeydaRegular" style="text-align: center; font-size: 30px">
                برند الهام‌گرفته از زندگی ساده و ارگانیک قبیله‌ها</h3>
        </div>
    </div>
</section>

<div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">قبیله، برندی است که با هدف تولید و ارائه مواد غذایی سالم و طبیعی تاسیس شد. ریشه این برند در سبک زندگی ساده و طبیعی قبیله‌ها نهفته است. جایی که مردمان در هماهنگی با طبیعت زندگی می‌کنند و هر فصل برایشان آغاز یک ماجراجویی تازه است.</p>
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">داستان قبیله، داستان حرکتی مداوم و مردمانی است که با الهام از طبیعت و در هماهنگی با آن، زندگی می‌کنند.</p>
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">در طراحی هویت بصری این برند، از یک کشتی مصری به عنوان نماد استفاده شده است. این کشتی بازتاب‌دهنده قبیله‌ای است که با تغییر فصل‌ها، در امتداد رود نیل حرکت می‌کند. این انتخاب، فلسفه اصلی برند، یعنی پویایی، حرکت و سازگاری با طبیعت را به‌خوبی به تصویر می‌کشد.</p>
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">لوگوی قبیله ترکیبی است از فرم‌های منحنی و نمادین که حس حرکت و پویایی را القا می‌کند. استفاده از کشتی مصری با پرچمی در اهتزاز و رنگ‌های گرم و طبیعی، هویتی منحر به‌فرد به این برند داده است. پالت رنگی با دقت و با توجه به ماهیت ارگانیک مواد غذایی برند انتخاب شده است؛ رنگ‌هایی که یادآور طبیعت، زمین، و سلامتی هستند و ارتباطی عمیق با فلسفه برند برقرار می‌کنند. خواسته‌ی صاحب برند لوگویی با طراحی ماکسیمال و پرجزئیات بود تا در تولید محتوا و موشن‌دیزاین های تبلیغاتی برند قابل استفاده باشد. </p>
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">علاوه بر طراحی لوگو، اقلام هویتی متعددی از جمله منو، کارت ویزیت، بسته‌بندی محصولات، و المان‌های تبلیغاتی برای برند قبیله طراحی شد. هر جزء از این طراحی‌ها، راوی داستان برند هستند. فرم‌ها، فونت‌ها، ترکیب رنگ‌ها و نحوه چیدمان، همگی با دقت انتخاب و تنظیم شده‌اند تا حس طبیعی و اصیل یک قبیله را به مخاطب منتقل کنند.</p>
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/ghabile1.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/ghabile3.jpg" class="w-100" />
        </div>
    </div>

    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/ghabile4.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/ghabile2.jpg" class="w-100" />
        </div>
    </div>
<div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/ghabile5.jpg" class="w-100" />
        </div>
    </div>
</div>

{% endblock %}