{% extends 'index/base.html' %}
{% block content %}

<div class="margin-top-lg"></div>
<section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
    <div class="container">
        <div class="hero__content">
            <h2 class="portfolio-title PeydaBlack" style="text-align: center; font-size: 50px">ویانا<br>
                [ روایت منابع انسانی ]</h2>
        </div>
    </div>
</section>

<div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
{#            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">آمار و اطلاعات اولیه</h3>#}
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">گروه توسعه مدیریت ویانا، با هدف تحقق رویای توسعه سرمایه انسانی و کمک به سازمان‌ها در ایجاد محیط کاری امن‌تر  در سال 1402 تاسیس شد.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/viana-detail-1.png" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">خواسته‌های اصلی این گروه</h3>
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">شرح کامل خدمات ویانا <br>تقویت ارتباط بین‌المللی با همکاران و مشتریان برون مرزی بود. <br> معرفی شرکت به عنوان افراد متخصص در ساخت و هدایت منابع انسانی.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/viana-detail-2.png" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
{#            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">رویکرد طراحـی برنـد</h3>#}
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">چالش ما در این پروژه، خلق ویدئویی با زیرمتن احترام و توجه به نیروی انسانی بود که در عین حال از نمایش مفاهیم تکراری و کلیشه‌های رایج دوری کند.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/viana-detail-3.png" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
{#            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">نـام و شعـار برنـد</h3>#}
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">از این رو، با دقت در انتخاب تصاویر، زاویه دید راوی، نورپردازی، و موسیقی، تلاش شد محتوایی اثرگذار تولید شود.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/viana-detail-4.png" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
{#            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">لوگو</h3>#}
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">سناریوی ویدئو با توجه به خواسته‌های ویانا تدوین شد. در مراحل فیلم‌برداری، تمرکز اصلی بر به تصویر کشیدن لحظات واقعی و انرژی‌بخش در محیط کار بود. هدف این بود که تمامی پلان‌ها بازتاب‌دهنده ارزش‌های اصلی سازمان و نقش حیاتی افراد در پیشبرد اهداف باشند. محور اصلی این ویدئو، معرفی ویانا به عنوان بستری برای رشد و پایداری منابع سازمانی شما بود، بستری که در آن توسعه و نگهداری از سرمایه انسانی در مرکز توجه قرار دارد.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/viana-detail-5.png" class="w-100" />
        </div>
    </div>
</div>

{% endblock %}