{% extends 'index/base.html' %}
{% block content %}

    <div class="margin-top-lg"></div>
    <section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
        <div class="container">
            <div class="hero__content">
                <h2 class="portfolio-title PeydaBlack" style="text-align: center; font-size: 50px">
                    آریوبرزن
                    <br>
                    [Concept Art]
                </h2>
            </div>
        </div>
    </section>

    <div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-12">
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">این پروژه با
                    هدف احیای داستان‌ها و قهرمانان اساطیری ایران، در قالب تولید یک انیمیشن برای کودکان آغاز شد.
                    داستان انیمیشن، بر محور روایت زندگی و رشادت‌های شخصیت‌های بزرگ تاریخی و اساطیری ایران، همچون
                    آریوبرزن، سردار شجاع دوران هخامنشی، شکل گرفت.
                    رویکرد اصلی در طراحی کاراکترها، کمک به خلق ارتباط احساسی میان مخاطبان و روایت‌های حماسی داستان، از
                    طریق هویت بصری دقیق و پرجزئیات بود.
                </p>
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">تیم طراحی با
                    دقت فراوان به جزئیات، تلاش کرد تا در شخصیت های این روایت، خصوصیاتشان همچون، قدرت، استواری و شجاعت را
                    به وضوح نمایش دهد. حتی لباس‌هاو وسایل رزم با توجه به عناصر تاریخی و فرهنگی طراحی شدند که حس حماسی و
                    تاریخی داستان را تقویت کنند.
                </p>
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">تمامی جزئیات
                    به گونه‌ای تنظیم شدند که به راحتی در مراحل مدل‌سازی و انیمیت‌ قابل استفاده باشند.
                    در کنار طراحی کاراکترها، تصویرسازی فضا (environment design) نیز بخش کلیدی دیگری از این پروژه بود.
                    یکی از صحنه‌های برجسته طراحی‌شده، نمای دشتی پس از جنگ است. استفاده از نورپردازی، رنگ‌بندی مناسب، و
                    جزئیات دقیق معماری ایرانی در طراحی این صحنه‌ها، بر قدرت روایت داستان افزوده است.
                    این پروژه نه تنها یک انیمیشن، بلکه پلی میان کودکان امروز و تاریخ پرافتخار ایران‌ بود.</p>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-12">
                <img src="/static/images/portfolio-detail/ario1.jpeg" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-12">
                <img src="/static/images/portfolio-detail/ario2.jpeg" class="w-100"/>
            </div>
        </div>
    </div>

{% endblock %}