{% extends 'index/base.html' %}
{% block content %}

    <div class="margin-top-lg"></div>
    <section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
        <div class="container">
            <div class="hero__content">
                <h2 class="portfolio-title RayBlack" style="text-align: center; font-size: 50px">
                    هپیتو
                </h2>
            </div>
        </div>
    </section>

    <div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-12">
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">بیسکوییت هپیتو،محصول جدید برند زرکام است، بیسکوئیتی
که مخاطبش کودکان و نوجوانان هستند و کاراکتر دزد دریایی کاراکتر اصلی این محصولهست. به همین دلیل، در سوشال مدیا و ایونت‌های هپیتو،
هدف ما فراتر از تبلیغات مستقیم بود؛ ماجراجویی‌ای طراحی شد که کودکان و نوجوانانرا به عضویت در کشتی کاپیتان هپیتو دعوت می‌کرد. با طراحی بازی‌ها، چالش‌ها
و داستان‌های دریایی، ارتباطی عمیق و احساسی میان مخاطبان و برند شکل گرفت.</p>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-4 justify-content-center jus">
                <img src="/static/images/portfolio-detail/hapitoo1.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/hapitoo2.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/hapitoo3.jpeg" class="w-100"/>
            </div>
        </div>

        <div class="row p-3 mb-4">
            <div class="col-12 col-md-4 justify-content-center jus">
                <img src="/static/images/portfolio-detail/hapitoo4.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/hapitoo5.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/hapitoo6.jpeg" class="w-100"/>
            </div>
        </div>

    </div>

{% endblock %}