{% extends 'index/base.html' %}
{% block content %}

    <div class="margin-top-lg"></div>
    <section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
        <div class="container">
            <div class="hero__content">
                <h2 class="portfolio-title RayBlack" style="text-align: center; font-size: 50px">Vita heal</h2>
            </div>
        </div>
    </section>

    <div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-12">
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">برند ویتا، در زمینه آرایشی و بهداشتی به طور خاص محصولات مناسب برای تقویت مژه فعال است، در این پروژه تیم عکاسی ما، به عکس برداری از تمام محصولات این برند، جزئیات طراحی و بسته‌بندی با کیفیت را به نمایش گذاشته است.</p>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/vita7.jpg" class="w-100"/>
            </div>
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/vita8.jpg" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/vita13.jpg" class="w-100"/>
            </div>
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/vita11.jpg" class="w-100"/>
            </div>
        </div>
    </div>

{% endblock %}