{% extends 'index/base.html' %}
{% block content %}

    <div class="margin-top-lg"></div>
    <section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
        <div class="container">
            <div class="hero__content">
                <h2 class="portfolio-title PeydaBlack" style="text-align: center; font-size: 50px">آواکتان</h2>
                <h3 class="portfolio-title mt-3 PeydaRegular" style="text-align: center; font-size: 30px">کمپین معرفی
                    برند بیزی نکست</h3>
            </div>
        </div>
    </section>

    <div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-12">
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">برای معرفی
                    برند جدید بیزی نکست، زیرمجموعه‌ای از هلدینگ آواکتان، یک موشن گرافیک سه‌دقیقه‌ای طراحی شد که در روز
                    لانچ محصول، مفاهیم کلیدی را به شکلی جذاب و سریع منتقل کند.</p>
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">کانسپت اصلی
                    این موشن، ترکیب سیستماتیک‌بودن پلتفرم با پشتیبانی انسانی و رباتیک بود. برای نمایش این مفهوم، از
                    المان‌های تکنولوژی در فضایی با استایل پیپرکات (Paper Cut) استفاده شد. سرعت بالای نریشن و انیمیشن
                    نیز، هم حجم زیاد اطلاعات را پوشش می‌داد و هم سرعت عملکرد پلتفرم را به نمایش می‌گذاشت.</p>
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">پس از
                    ایده‌پردازی و نگارش سناریو، طراحی استوری‌بورد و ساخت انیماتیک انجام شد. با تایید کارفرما، مرحله
                    تصویرسازی و ضبط نریشن آغاز شد. با توجه به محدودیت زمانی، انیمیت و کامپوزیشن به‌صورت هم‌زمان پیش رفت
                    و در نهایت صداگذاری، اصلاح رنگ و نور تکمیل شد.</p>
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">محدودیت زمانی
                    و تعدد تصمیم‌گیرندگان، چالش اصلی این پروژه بود که با همکاری و هماهنگی میان تیم اجرایی و کارفرما
                    مدیریت شد. نتیجه، یک موشن گرافیک روان، سریع و تأثیرگذار بود که در روز لانچ، معرفی مؤثری از محصول
                    جدید بیزی نکست ارائه داد.</p>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/banimode1.png" class="w-100"/>
            </div>
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/banimode2.png" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/banimode3.png" class="w-100"/>
            </div>
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/banimode4.png" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/banimode5.png" class="w-100"/>
            </div>
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/banimode6.png" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/banimode7.png" class="w-100"/>
            </div>
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/banimode8.png" class="w-100"/>
            </div>
        </div>
    </div>

{% endblock %}