{% extends 'index/base.html' %}
{% block content %}

    <div class="margin-top-lg"></div>
    <section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
        <div class="container">
            <div class="hero__content">
                <h2 class="portfolio-title RayBlack" style="text-align: center; font-size: 50px">
                    طلاشیم
                </h2>
            </div>
        </div>
    </section>

    <div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-12">
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">طلاشیم، شرکتی
                    فعال در زمینه بهینه سازی مصرف انرژی و توسعه پایدار است، که به صنایع و سازمان‌های بزرگ کمک می‌کند تا
                    مصرف انرژی خود را بهتر مدیریت کنند.
                    ماموریت طلاشیم در این زمینه موجب شد که ما در تدوین استراتژی محتوایی شبکه‌های اجتماعی این برند،
                    اینستاگرام و لینکدین را فضایی برای فرهنگسازی انتخاب کنیم.</p>
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;"> در این کمپین
                    با توجه به اهمیت اصلاح الگوی مصرف و آسیب‌هایی که متوجه کره زمین است، محتواهایی در قالب پست که شامل
                    عکس‌ها، اینفوگرافی، موشن‌گرافیک و ویدیو، ساخته و و در بستر‌های مذکور منتشر کردیم.</p>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-4 justify-content-center jus">
                <img src="/static/images/portfolio-detail/talashim1.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/talashim2.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/talashim3.jpeg" class="w-100"/>
            </div>
        </div>

        <div class="row p-3 mb-4">
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/talashim4.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/talashim5.jpeg" class="w-100"/>
            </div>
        </div>

        <div class="row p-3 mb-4">
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/talashim6.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/talashim7.jpeg" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/talashim8.jpeg" class="w-100"/>
            </div>
             <div class="col-12 col-md-8">
                <img src="/static/images/portfolio-detail/talashim9.jpeg" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/talashim10.jpeg" class="w-100"/>
            </div>
              <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/talashim11.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/talashim12.jpeg" class="w-100"/>
            </div>
        </div>

        <div class="row p-3 mb-4">
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/talashim13.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/talashim14.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/talashim15.jpeg" class="w-100"/>
            </div>
        </div>

        <div class="row p-3 mb-4">
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/talashim16.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/talashim17.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/talashim18.jpeg" class="w-100"/>
            </div>
        </div>

    </div>

{% endblock %}