{% extends 'index/base.html' %}
{% block content %}




    <section
            style="
    height: 95vh;
    background-image: url('/static/portfolio/sam/firstbg.png');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    z-index: 0;
  "
    >

        <div class="container h-100">
            <div class="row min-vh-100 align-items-center justify-content-center text-center">
                <div class="col-10 col-lg-12">
                    <img
            src="/static/portfolio/sam/firstSam.png"
            alt="Center Image"
            class="img-fluid"
                    />
                </div>
            </div>
        </div>
    </section>

    <section style="
  background-image: url('/static/portfolio/sam/secondbg.png');
  background-size:cover;
  height:100%;
  background-repeat: no-repeat;
  border-radius:0;
  position:relative;
  z-index:10;
  padding: 50px 10vw;
">
        <style>
            .rdp-blue-card {
                background-color: #E9E9FF;
                padding: 15px 50px;
                position: relative;
                direction: rtl;
                text-align: justify;
                overflow: visible;
                z-index: 2;
                border-radius: 30px;
                margin-bottom: 25px;
                width:80%;
            }

            @media screen and (max-width:767px){
                .rdp-blue-card{
                    width: 100% !important;
                }
            }

            .rdp-blue-title {
                margin: 0 0 clamp(10px, 1.2vw, 16px) 0;
                font-size: clamp(30px, 3.2vw, 30px);
                font-weight: 800;
                line-height: 1.25;
                color: #383073;
            }

            .rdp-blue-text {
                margin: 0;
                font-size: clamp(17px, 2vw, 17px);
                line-height: 1.6;
                color: #383073;
            }
        </style>

        <div class="rdp-blue-card" style="margin-left: auto;">
            <h3 class="rdp-blue-title pt-3">درباره سام</h3>
            <p class="rdp-blue-text">
                مجموعه‌ی سام (سرمایه آفرین مبین) بازوی سرمایه‌گذاری صندوق توسعه‌ی ملی است. این مجموعه با هدف مدیریت و سرمایه‌گذاری اصولی ثروت کشور، سرمایه‌گذاری در صنایع مولد، ساخت زیربنای کشور و پرهیز از سرمایه‌گذاری غیر اصولی فعالیت می‌کند. تمرکز این مجموعه بر روی سرمایه‌گذاری در کسب و کارهای بزرگ و راهبردی است و پرهیز از بنگاهداری و مدیریت خرد سازمان‌ها همواره از مهم‌ترین اصول این مجموعه است.
            </p>
        </div>
        <div class="rdp-blue-card" style="margin-right: auto;">
            <h3 class="rdp-blue-title pt-3">نماد اصلی</h3>
            <p class="rdp-blue-text">
                جستجوی ما از میان نمادها و علائم مرتبط با بازارهای مالی آغاز شد تا عنصری بیابیم که سمبلی متناسب با فضای سرمایه‌گذاری در صنایع بزرگ باشد. یکی از پرکاربردترین علائم در کسب و کارهای مالی خصوصاً سرمایه‌گذاری کلان اقتصادی است. چه در زمان رشد و سقوط سهام و چه هنگام محاسبه میزان سود مجموعه و یا میزان تملک یک کسب و کار، درصد یکی از پرکاربردترین علائم است.
            </p>
        </div>
        <div class="rdp-blue-card" style="margin-left: auto;">
            <h3 class="rdp-blue-title pt-3">ایجاد روایت</h3>
            <p class="rdp-blue-text">
                درصد (%) نمادی مناسب بود در عین حال ایجاد روایتی هماهنگ با پرسونای برند در طراحی نشان مهم است و وظیفه سام صیانت و مدیریت این سرمایه بود و ایران کلید ارتباط و بخش احساسی است. ما درصد را به گونه‌ای اجرا کردیم تا فرمی شبیه به نقشه ایران داشته باشد.
            </p>
        </div>
        <div class="mt-5 text-center">
            <img src="/static/portfolio/sam/iranplus.png">
        </div>

    </section>

    <section class="container w-100 text-center py-5 my-5">
        <img src="/static/portfolio/sam/justsamlogo.png" class="w-50">
    </section>

    <section class="w-100 text-center py-5" style="background-color: #32127A;">
        <img src="/static/portfolio/sam/sampart.png" class="w-75 mb-5">
        <img src="/static/portfolio/sam/sampartimage.png" class="w-75">
    </section>


    <section class="container w-100 text-center pt-5 pb-lg-5">
        <div class="color-card pb-5 mb-5 w-75 mx-auto">
            <h3 class="rdp-blue-title pt-3">پالت رنگی</h3>
            <p class="rdp-blue-text">
                پالت رنگی تعریف شده ما همانند یک قفسه‌ی لباس رسمی است. رنگ‌ها به‌گونه‌ای استفاده شده گویا یک ست کت‌وشلوار را هماهنگ می‌کنیم.    
            </p>
        </div>
                <div class="row justify-content-center mb-0 mb-lg-5">

                    <!-- Card 1 (Blue) -->
                    <div class="col-12 col-md-3 px-0">
                        <div class="color-pill" style="background:#32127A;z-index:4;">
                            <div class="color-info text-white">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h3>
                                            PersianIndigo
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card 2 (Yellow) -->
                    <div class="col-12 col-md-3 px-0">
                        <div class="color-pill" style="background:#32127A;margin-left:-30px;border-top-left-radius: 0;    border-bottom-left-radius: 0;z-index:3">
                            <div class="color-info" style="color:#fff;">
                                <div class="row g-3">
                                    <div class="col-12 text-center">
                                        <p class="text-center">
                                            Pantone: 2745C
                                            <br>
                                            CMYK: 90 100 0 20
                                            <br>
                                            RGB: 50 18 122
                                            <br>
                                            HEX: #32127A
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card 3 (Navy) -->
                    <div class="col-12 col-md-3 px-0">
                        <div class="color-pill" style="background:#604DB6;margin-left:-30px;border-top-left-radius: 0;    border-bottom-left-radius: 0;z-index:2">
                            <div class="color-info text-white">
                                <div class="row g-3">
                                    <div class="col-12 text-center">
                                        <h3>
                                            Han Purple
                                        </h3>
                                        <p class="text-center">
                                            Pantone: 2104C
                                            <br>
                                            CMYK: 75 80 0 0
                                            <br>
                                            RGB: 96 77 162
                                            <br>
                                            HEX: #604DB6
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 (Navy) -->
                    <div class="col-12 col-md-3 px-0">
                        <div class="color-pill" style="background:#A5A5FF;margin-left:-30px;border-top-left-radius: 0;    border-bottom-left-radius: 0;z-index:1">
                            <div class="color-info text-black">
                                <div class="row g-3">
                                    <div class="col-12 text-center">
                                        <h3 style="color: black;">
                                            Dull Lavender
                                        </h3>
                                        <p class="text-center">
                                            Pantone: 2715C
                                            <br>
                                            CMYK: 14 16 35 0
                                            <br>
                                            RGB: 166 166 255
                                            <br>
                                            HEX: #A5A5FF
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row justify-content-center mb-0 mb-lg-5">

                    <!-- Card 1 (Blue) -->
                    <div class="col-12 col-md-3 px-0">
                        <div class="color-pill" style="background:#B89F5F;border-top-right-radius: 0;border-bottom-right-radius: 0">
                            <div class="color-info text-white">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h3>
                                            Coyote Brown
                                        </h3>
                                        <p class="text-center">
                                            Pantone: 2745C
                                            <br>
                                            CMYK: 30 33 75 0
                                            <br>
                                            RGB: 184 159 95
                                            <br>
                                            HEX: #B89F5F
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card 2 (Yellow) -->
                    <div class="col-12 col-md-3 px-0">
                        <div class="color-pill" style="background:#826b37;margin-left:-30px;border-top-right-radius: 0;    border-bottom-right-radius: 0;z-index:3">
                            <div class="color-info" style="color:#fff;">
                                <div class="row g-3">
                                    <div class="col-12 text-center">
                                        <h3>
                                            Coyote Brown
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card 3 (Navy) -->
                    <div class="col-12 col-md-3 px-0">
                        <div class="color-pill" style="background:#826b37;margin-left:-30px;border-top-left-radius: 0;    border-bottom-left-radius: 0;z-index:2">
                            <div class="color-info text-white">
                                <div class="row g-3">
                                    <div class="col-12 text-center">
                                        <p class="text-center">
                                            Pantone: 1265C
                                            <br>
                                            CMYK: 45 50 90 20
                                            <br>
                                            RGB: 130 107 55
                                            <br>
                                            HEX: #826b37
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 (Navy) -->
                    <div class="col-12 col-md-3 px-0">
                        <div class="color-pill" style="background:#dccdaa;margin-left:-30px;border-top-left-radius: 0;    border-bottom-left-radius: 0;z-index:1">
                            <div class="color-info text-black">
                                <div class="row g-3">
                                    <div class="col-12 text-center">
                                        <h3 style="color: #000;">
                                            Dark Vanilla
                                        </h3>
                                        <p class="text-center">
                                            Pantone: 4022C
                                            <br>
                                            CMYK: 35 35 0 0
                                            <br>
                                            RGB: 219 204 170
                                            <br>
                                            HEX: #dccdaa
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            <style>
                .color-info h3{
                    font-weight:300;
                    color: #fff;
                    opacity: 1;
                }
                .color-card {
                background-color: #E9E9FF;
                padding: 15px 50px;
                position: relative;
                direction: rtl;
                text-align: justify;
                overflow: visible;
                z-index: 2;
                border-radius: 30px;
                margin-bottom: 25px;
            }
                /* Pill container */
                .color-pill {
                    border-radius: 30px;
                    min-height: 120px;
                    padding: 10px;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }

                @media screen and (max-width:767px){
                    .color-pill{
                        margin-left: 0 !important;
                        border-radius: 0;
                    }
                    .color-card{
                        width: 100% !important;
                    }
                }

                /* Hidden by default */
                .color-info {
                    font-size: 14px;
                    line-height: 1.5;
                    font-weight: 400; /* no weight change */
                    text-align: left;
                    pointer-events: none; /* prevents hover "jank" when moving over text */
                }
            </style>
    </section>

    <section class="text-center w-100">
    <img src="/static/portfolio/sam/bg-normal2.png" class="d-block">
    </section>
    
    <section class="text-center py-5 w-100" style="background-color: #DCCDAA;">
        <div class="container">
            <div class="color-card pb-5 mb-5 w-75 mx-auto" style="background-color: #816B37;">
                <h3 class="rdp-blue-title pt-3" style="color:#DCCDAA">الگوها</h3>
                <p class="rdp-blue-text" style="color:#fff">
                    برای ایجاد ظاهری منحصر به فرد الگوهای گرافیکی منحصر به فردی ارائه شده تا سام را قابل شناسایی کند. این عناصر به گونه ایی طراحی شده که بیشترین هماهنگی را با نشان سام داشته باشد همچنین فرم آن بر اساس پرسونای برند و نگاه ملی آن قابل اتکا و ایستا و یادآور فرم قرینه سازی در هنر ایرانی باشد.
                </p>
            </div>
            <section class="w-100 text-center">
                <img src="/static/portfolio/sam/samlogocompelete.png" class="w-75">
            </section>
        </div>
    </section>

    <section class="text-center w-100" style="background-color: #EBE0C1;">
        <img src="/static/portfolio/sam/bg-shape.png" class="w-100">
    </section>

    <section class="container w-100 text-center py-5">
        <div class="color-card pb-5 mb-5 w-75 mx-auto" style="background-color: #D2D2FD;">
            <h3 class="rdp-blue-title pt-3" style="color: #372C76;">تصویرسازی و نمادنگاری</h3>
            <p class="rdp-blue-text" style="color: #372C76;">
                منحنی های نرم و پایانه های گرد که به نماد های ما احساس سفارشی می دهد. در تصویر سازی ها همواره باید از خطوط با ضخامت یکسان استفاده شود. از زیاده گویی پرهیز شده و تصاویر تا حد امکان ساده و به دور از پیچیدگی و جزئیات غیر لازم باشد.
            </p>
        </div>
        <div class="logos d-flex justify-content-between align-items-center mb-lg-5 pb-5 w-100" dir="rtl">
            <div>
                <img src="/static/portfolio/sam/logo1.png">
            </div>
            <div>
                <img src="/static/portfolio/sam/logo2.png">
            </div>
            <div>
                <img src="/static/portfolio/sam/logo3.png">
            </div>
            <div>
                <img src="/static/portfolio/sam/logo4.png">
            </div>
            <div>
                <img src="/static/portfolio/sam/logo5.png">
            </div>
            <div>
                <img src="/static/portfolio/sam/logo6.png">
            </div>
            <div>
                <img src="/static/portfolio/sam/logo7.png">
            </div>
            <div>
                <img src="/static/portfolio/sam/logo8.png">
            </div>
        </div>
        <style>
            .logos div{
                width: 12.5%;
            }
            .logos img{
                width: 65%;
            }

            @media screen and (max-width:767px){
                .logos{
                    flex-wrap: wrap;
                }
                .logos div{
                    width: 50%;
                }
                .logos img{
                    width: 50%;
                }
            }
        </style>

        <div class="secondlogos d-flex justify-content-center align-items-center mb-lg-5 pb-lg-5 flex-wrap w-100" dir="rtl">
            <div class="">
                <img src="/static/portfolio/sam/picture1.png">
            </div>
            <div class="">
                <img src="/static/portfolio/sam/picture2.png">
            </div>
            <div class="">
                <img src="/static/portfolio/sam/picture3.png">
            </div>
            <div class="">
                <img src="/static/portfolio/sam/picture4.png">
            </div>
            <div class="">
                <img src="/static/portfolio/sam/picture5.png">
            </div>
        </div>

        <style>
            .secondlogos{
                row-gap: 20px;
            }
            .secondlogos div{
                width: 33%;
            }
            .secondlogos img{
                width: 65%;
            }

            @media screen and (max-width:767px){
                .secondlogos div{
                    width: 50%;
                }
                .secondlogos img{
                    width: 50%;
                }
            }
        </style>
    </section>

    <section class="w-100 mb-0">
        <img src="/static/portfolio/sam/lastpart.png" class="d-block">
    </section>


{% endblock %}