{% extends 'index/base.html' %}
{% block content %}

<div class="margin-top-lg"></div>
<section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
    <div class="container">
        <div class="hero__content">
            <h2 style="text-align: center; font-size: 50px" class="RayBlack portfolio-title">دیـاری‌نـو <br>
                شهـرهـای دوستـدار کـودکـی</h2>
            <p style="margin-top: 30px; font-size: 20px; text-align: justify; max-width: none !important;">پروژه‌ی ملی "دیـاری‌نـو؛ سـرزمـیـن دوسـتـدار کـودکـی"، تلاشی است برای خلق و توسعه‌ی شهرهایی که کودکان در آن شهروند درجه یک شناخته می‌شوند و حقوق شهروندی آنان محقق می‌شود. تلاشی برای تغییر و توسعه‌ی ذهنیت عموم جامعه در جهت حمایت از کودکان و دوران کودکی.</p>
        </div>
    </div>
</section>

<div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">بنیان پروژه: "کـودک؛ شهـروند تمـام عیـار"</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">موسسه‌ی همنوا به عنوان مجموعه‌ای که سال‌های بسیاری در زمینه‌ی ارتقای کیفیت زندگی کودکان کار می‌کند از تیم ما خواست تا هویتی برای "پروژه‌ی ملی شهرهای دوستدار کودک در ایران" طراحی کنیم. پروژه‌ای که هدف آن ارتقای زندگی و کیفیت رشد کودکان جامعه و به تبع آن همه‌ی مردم است.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-1.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">بیـنش طراحـی</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">برای درک بهتر و نزدیک‌تر پروژه، ما به زرند کرمان (به عنوان پایلوت ملی پروژه) سفر کردیم و با روش‌های پژوهش عمیق، بینش لازم به عنوان خوراک فکری تیم طراحی به دست آمد.</p>
            <p style="margin: 0 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">بر مبنای بینش جدید، رویکرد اصلی پروژه از "شهرهای دوستدار کودک" به "شهرهای دوستدار کودکی" تغییر یافت تا بتواند افراد بزرگسال (و کودک درون آن‌ها) را نیز جذب کند.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-2.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">نـام برنـد</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">برای افزایش امکان به خاطر‌سپاری و ایجاد احساس انسانی‌تر و دوست‌داشتنی‌تر، نام "دیاری‌نو"، به معنای سرزمینی نو و تازه، برای پروژه انتخاب شد.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-3.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">ترکیـب لـوگـو و نشـانه نوشـته</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">لوگوی برند، حسی بازی‌گونه برای پروژه خلق می‌کند. جایی که بازی، رویا و شهر در کنار هم جمع شده‌اند.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-4.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">هویـت بصـری</h3>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-5.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">

        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-6.jpg" class="w-100" />
        </div>
    </div>


    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">طراحـی تجـربه‌ی برنـد و کمپیـن ارایه‌ی برنـد</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">برای خلق تماس احساسی با مخاطبان (مردم شهر زرند)، ما تمامی برنامه‌های ارتباطی و تبلیغاتی پروژه را بر اساس نقشه‌ی بخش‌بندی مخاطبان طرح‌ریزی کردیم.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-7.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">دعوتنـامه‌ی مردمـی</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">ما از تعدادی از شهروندان زرند درخواست کردیم تا همشهریان خود را به برنامه‌های رونمایی از برند در سطح شهر (همزمان با هفته کودک در مهر ماه) دعوت کنند.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-8.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
{#            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack"></h3>#}
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">از این دعوتنامه‌ها در فضای فیزیکی شهر و نیز شبکه‌های اجتماعی استفاده شد.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-9.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-10.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-11.jpg" class="w-100" />
        </div>
    </div>

    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">تبلیـغـات اولیـه‌ی آگـاه‌سـازی از برنـد</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">همزمان با دعوتنامه‌های مردمی، از معرفی‌ها و تبلیغات مستقیم در سطح شهر زرند و کرمان نیز استفاده شد.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-12.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">اجزای شکـل‌دهنده‌ی کمپیـن</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">یکی از مهمترین فعالیت‌های تبلیغاتی شکل‌دهنده‌ی کمپین معرفی برند، ارایه‌ی نظرات کودکان درباره‌ی شهر مطلوب‌شان بود. برنامه‌ای برای احترام به نظرات آن‌ها تا پیامی باشد برای شهروندان که "کـودکـان، شـهـرونـد درجـه یـک هـسـتـنـد".</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-13.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-14.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-15.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-16.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-17.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-18.jpg" class="w-100" />
        </div>
    </div>


    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">ادبیـات برنـد و متـون موثـر تبلیـغـات و ارایه</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">برای انتقال پیام‌های مختلف دیاری‌نو به گروه‌های مختلف هدف برند، مجموعه‌ای از نوشتار موثر توسعه داده شد تا در نقاط تماس برند به کار گرفته شوند.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-19.jpg" class="w-100" />
        </div>
    </div>

    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">برنـامه‌هـای تبلیـغـاتـی تکمیـلـی</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">از طریق تصویرسازی فضا و اتمسفر انسانی شهر دوستدار کودکی، تلاش کردیم تا پیام‌های احساسی نیرومندی برای تعامل و ارتباط شهروندان با برند (و با شهر خودشان) خلق کنیم.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-20.jpg" class="w-100" />
        </div>
    </div>

    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-21.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-22.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-23.jpg" class="w-100" />
        </div>
    </div>


    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">طراحـی وقـایع شهـری</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">در جهت کمک به شهروندان برای "لمس" شهر دوستدار کودکی، برنامه‌هایی برای حضور همزمان کودکان و بزرگسالان در شهر طراحی کردیم. برنامه‌هایی مانند "رنگ کردن کف خیابان‌های شهر".</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-24.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-25.jpg" class="w-100" />
        </div>
    </div>

    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">طراحـی تجـربه‌ی دیـجیـتـال</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">برای ارتقای تجربه‌ی یکپارچه‌ی برند، خدمات و محتوای برند دیاری‌نو از طریق وب سایت ارایه شده است تا شهروندان شهرهای مختلف، خود را متصل به جریان بزرگتری (پروژه‌ی ملی) بدانند.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-26.jpg" class="w-100" />


        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-27.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-28.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-29.jpg" class="w-100" />
        </div>
    </div>

    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">راهنمـای هویـت برنـد</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">برای اطمینان از توسعه‌ی پایدار هویت برند، تمامی ویژگی‌های شکل‌دهنده‌ی دیاری‌نو در دفترچه راهنمای برند ارایه شد.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-30.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">لمس یک شهـر</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">هزاران نفر از اهالی زرند در طی کمپین دیاری‌نو در هفته‌ی کودک، با شهر و برنامه‌های عمومی، مشارکت و همکاری فعال داشتند.</p>
        </div>
        <div class="col-12 col-md-8">
            <video controls="" class="w-100">
                <source src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-31.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">کـودک درونمـان را حمـایت کنیـم.</h3>
            <p style="margin: 20px 0 20px 20px; font-size: 16px; text-align: justify; max-width: none !important;">به موازات رشد و تعالی شهرهای دوستدار کودکی، زندگی و کودک درون ما نیز رشد می‌کند. از این پروژه حمایت کنید.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/dyarino-by-tajrobeh-design-32.jpg" class="w-100" />
        </div>
    </div>

</div>

{% endblock %}