{% extends 'index/base.html' %}
{% block content %}

<div class="margin-top-lg"></div>
<section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
    <div class="container">
        <div class="hero__content">
            <h2 style="text-align: center; font-size: 50px" class="PeydaBlack">ققنوس <br>
                [  ایـستـادن مقـابل سـوخـتن  ]</h2>
            <p style="margin-top: 30px; font-size: 20px; text-align: justify; max-width: none !important;">انجمن ققنوس، کانونی غیرانتفاعی و غیردولتی برای حمایت از بیماران و مجروحان حوادث سوختگی است. ماموریت ما، طراحی هویت و ارتباطاتی بود که بتواند با مخاطبان پیوند شفافی برقرار کند و پیام‌ها، نیازها و درخواست‌های انجمن را به درستی منتقل کند.</p>
        </div>
    </div>
</section>

<div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">آمار و اطلاعات اولیه</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">پس از اینکه موسسان، متخصصان و پزشکان انجمن با ما درباره‌ی آمار و اطلاعات سوختگی گفتگو کردند، میزان وخامت شرایط و سختی‌های پروژه برای ما روشن شد.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-1.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">بیـنش مخـاطبـان</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">ما با بررسی دید درونی مردم نسبت به حوادث، به طور ویژه حوادث سوختگی، شروع کردیم. در طی این مسیر به سه نگاه و دلیل بنیادین دست پیدا کردیم.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-2.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">رویکرد طراحـی برنـد</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">برای طراحی ساختار برند، از رویکردهای نوین طراحی سازمان‌های مردم نهاد استفاده کردیم.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-3.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">نـام و شعـار برنـد</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">پس از آنکه متوجه شدیم که میزان امید به بازگشت افراد سوخته به زندگی عادی چقدر است، برای تقویت حس امید در آن‌ها و نیز مخاطبان، نام "ققنـوس" را برگزیدیم.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-4.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">لوگو</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">ساختار دوار لوگو که بال‌های ققنوس و شعله‌های آتش را شکل داده است، نشانه‌ای از بازگشت به زندگیست.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-5.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack"></h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-6.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">هویـت بصری</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">برای خلق تمایز با سایر مراکزی که خدمات پزشکی و حمایتی ارایه می‌دهند و عموما از رنگ‌های آبی و قرمز برای این ویژگی‌ها استفاده می‌کنند و نیز برای القای حس امید و نوزایی زندگی، رنگ سبز بهاری را به عنوان رنگ اصلی برند ققنوس انتخاب کردیم.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-7.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack"></h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-8.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">قلـک ققـنـوس</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">طرح قلک ققنوس پیامی است برای مخاطبان مبنی بر اینکه "کمک کردن به ققنوس، تجربه‌ای زیبا برای شما خواهد بود".</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-9.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">دسـت‌سـاز و قـابـل بـازیـابـی</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">با همکاری "استودیو سرامیک زین دست"، قلک ققنوس به صورت سرامیکی ساخته شد تا دوست‌دار محیط زیست باشد و نیز نمادی باشد از "دوباره زنده شدن".</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-10.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack"></h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-11.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">طراحـی ارتبـاطات دیـجیـتـال</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">وب سایت ققنوس برای ارایه‌ی خدمات و نیز ارایه‌ی محتوای برند به صورت یکپارچه طراحی شد.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-12.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack"></h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-13.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">کمپیـن‌هـا و تبلیـغـات</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">کمپین‌های مختلفی با اهداف و رویکردهای مختلف برای ققنوس طراحی شد تا بخش‌های مختلفی از مخاطبان را هدف قرار دهد.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-14.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack"></h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <video controls="" class="w-100">
                <source src="../../static/images/ghoghnoos-15.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">سفیـران ققـنـوس</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">سفیران ققنوس که نیروهای اصلی برای به واقعیت تبدیل کردن اهداف و برنامه‌های انجمن هستند، کمک می‌کنند تا سطح آگاهی از برند در جامعه افزایش پیدا کرده و افراد بیشتری به ققنوس بپیوندند. دفترچه‌ی راهنمای سفیران برای راهنمایی آنان در جهت همراهی با انجمن طراحی شد.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-16.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">کمپیـن یکم دی مـاه؛
                روز ملـی-مردمـی پیـشگیـری از سـوختگـی</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-17.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack"></h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-18.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack"></h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <video controls="" class="w-100">
                <source src="../../static/images/ghoghnoos-19.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">تاثیـر قلبـی</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">این پروژه یکی از دوست‌داشتنی‌ترین پروژه‌های ما بوده و هست.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-20.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">شمـا هم به ققنـوس بپیوندیـد.</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">سالانه حدود 180 هزار نفر در ایران بر اثر حوادث سوختگی مجروح می‌شوند. ما با اعضای شجاع و پرتلاش انجمن ققنوس برای مبارزه با این حوادث و نیز کمک به افراد آسیب دیده همراهی می‌کنیم. به وب سایت انجمن ققنوس سر بزنید و به این جریان بپیوندید.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/ghoghnoos-21.jpg" class="w-100" />
        </div>
    </div>
</div>

{% endblock %}