{% extends 'index/base.html' %}
{% block content %}

<div class="margin-top-lg"></div>
<section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
    <div class="container">
        <div class="hero__content">
            <h2 class="portfolio-title RayBlack" style="text-align: center; font-size: 50px">نوار<br>
                [ طراحی لوگو ]</h2>
        </div>
    </div>
</section>

<div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa; margin-bottom: 100px">
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">لوگو مهم‌ترین عنصر بصری برند است که نوار  را از رقبای خود و سایر شرکت‌ها متمایز می‌کند. بر پایه برند بوک، نوار شرکتی پویا ، داستان سرا با نگاهی به نوستالژی و تکرار آن احساس برای مخاطب خود است، بر همین اساس المانی باید مد نظر قرار گرفته  شود تا تمامی این احساسات را در درون خود  داشته باشد.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/navar-1.png" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mt-5">
        <div class="col-12 col-md-4">
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">در فرم بی نهایت یا infinity می‌توان تمامی این  نکات را پیدا کرد. از یک سوی فرم آن به شدت پویاست و تکرار شوندگی آن به نوعی یاد آور  بازگشت به نقطه ایی که در آن بوده ایم و زنده شدن خاطرات است  پس می‌تواند حس نوستالژی و روایت داساتنی که ما می‌دانیم و در حال بازگو کردن آن هستیم  را در نمایندگی کند.
            <br>
                فرم بی نهایت به عنوان دو حرف ن ، و  قرار گرفت و یک مثلث به عنوان نقطه ن قرار داده شده است تا یادآور شکل دکمه Play باشد.

            </p>
        </div>
        <div class="col-12 col-md-8">
            <img src="/static/images/portfolio-detail/navar-2.png" class="w-75" style="float: left"/>
        </div>
    </div>
</div>

{% endblock %}