{% extends 'index/base.html' %}
{% block content %}

<div class="margin-top-lg"></div>
<section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
    <div class="container">
        <div class="hero__content">
            <h2 class="portfolio-title PeydaBlack" style="text-align: center; font-size: 50px">
                انیمیشن سریالی Hayloo
                </h2>
        </div>
    </div>
</section>

<div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">انیمیشن سریالی Hayloo داستان هیولایی بدطینت را روایت می‌کند که پس از پوساندن دندان یک پسربچه با مایع سمی خود، قلعه‌ای بر بالای این دندان بنا می‌کند. دنیای Hayloo با ترکیبی از المان‌های عجیب و جادویی، حس ترس و کنجکاوی را در مخاطب زنده می‌کند.</p>
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">محیط اطراف Hayloo از ساختارها و اشیایی تشکیل شده که الهام گرفته از حفره‌ها و بافت‌های سنگ‌های سمی است. طراحی این فضا با فرم‌های منحنی و غیرمتقارن، حس خطر و رازآلودگی را به‌خوبی منتقل می‌کند. پالت رنگی خاکستری سرد و سبز سمی نیز به تقویت این فضای مرموز و مسموم کمک کرده است.</p>
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">تمرکز اصلی در طراحی شخصیت و محیط، ایجاد دنیایی تخیلی و منحصربه‌فرد بود که هم‌زمان با جنبه تبلیغاتی سریال، جذابیت بصری بالایی داشته باشد. فرم‌ها و خطوط پویا در کنار عناصر تخیلی، دنیای Hayloo را به فضایی فراموش‌نشدنی و تأثیرگذار تبدیل کرده است.</p>
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">این پروژه نمایشی از قدرت طراحی در خلق دنیایی خیالی و ارتباط احساسی با مخاطب است و تجربه‌ای موفق در ساخت هویت بصری برای یک انیمیشن سریالی بود.</p>
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/hayloo1.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/hayloo2.jpg" class="w-100" />
        </div>
    </div>

    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/hayloo3.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/hayloo4.jpg" class="w-100" />
        </div>
    </div>
<div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/hayloo5.jpg" class="w-100" />
        </div>
    </div>
</div>

{% endblock %}