{% extends 'index/base.html' %}
{% block content %}

    <div class="margin-top-lg"></div>
    <section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
        <div class="container">
            <div class="hero__content">
                <h2 class="portfolio-title RayBlack" style="text-align: center; font-size: 50px">Kanirush</h2>
            </div>
        </div>
    </section>

    <div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-12">
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">برند کانی
                    راش، یک برند لباس ایرانی است که برای معرفی وب‌سایت و فرآیند ثبت سفارش آنلاین به یک ویدئو نیاز داشت.
                    در همین راستا، استاپ موشنی طراحی و اجرا شد تا کاربران را با نحوه ثبت سفارش در سایت آشنا کند.</p>
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">در این پروژه،
                    تمامی آبجکت‌های موجود در تصویر به‌صورت فیزیکی عکاسی شدند و سپس با تلفیق تصاویر و تکنیک‌های
                    انیمیشن‌سازی، یک استاپ موشن پویا و روان ساخته شد. این روش، علاوه بر تقویت حس ملموس و واقعی بودن
                    عناصر بصری، با ایجاد حرکت‌های نرم و هماهنگ، مسیر ثبت سفارش را به‌صورت مستقیم به مشتریان نمایش داد و
                    تعامل مخاطبان با برند کانی راش را افزایش داد.</p>
            </div>
        </div>
    </div>
    <div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-4 justify-content-center jus">
                <img src="/static/images/portfolio-detail/kanirush1.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/kanirush2.jpeg" class="w-100"/>
            </div>
            <div class="col-12 col-md-4">
                <img src="/static/images/portfolio-detail/kanirush3.jpeg" class="w-100"/>
            </div>
        </div>
    </div>
{% endblock %}