{% extends 'index/base.html' %}
{% block content %}

<div class="margin-top-lg"></div>
<section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
    <div class="container">
        <div class="hero__content">
            <h2 class="portfolio-title PeydaBlack" style="text-align: center; font-size: 50px">Modern Key
                </h2>
            <h3 class="portfolio-title mt-3 PeydaRegular" style="text-align: center; font-size: 30px">
                [Visual Identity]</h3>
        </div>
    </div>
</section>

<div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">برند مدرن کی شرکتی فعال در حوزه تولید و فروش تجهیزات امنیتی ساختمان است که محصولات آن شامل دوربین‌های مداربسته، درب‌های ضدسرقت و دیگر سیستم‌های حفاظتی می‌شود.</p>
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">طراحی لوگو و هویت بصری این برند با الهام از فرم‌های قفل و کلید انجام شد تا ارتباطی مستقیم و قابل‌تشخیص با مفهوم امنیت ایجاد کند. در این طراحی، علاوه بر فرم‌های نمادین امنیت، از رنگ‌هایی القاکننده‌ی حس احتیاط و ایمنی استفاده شد تا پیام برند را تقویت کند و در نگاه اول، حس اعتماد و اطمینان را به مخاطب منتقل کند.</p>
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/modernkey1.jpg" class="w-100" />
        </div>
    </div>
<div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/modernkey2.jpg" class="w-100" />
        </div>
    </div>
<div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/modernkey3.jpg" class="w-100" />
        </div>
    </div>

</div>

{% endblock %}