{% extends 'index/base.html' %}
{% block content %}
    <div class="margin-top-lg"></div>
    <section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
        <div class="container">
            <div class="hero__content">
                <h2 class="portfolio-title RayBlack" style="text-align: center; font-size: 50px">Lucano<br>
                    [ روایت معرفی Lucano به بازار ایران ]</h2>
            </div>
        </div>
    </section>

    <div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-12">
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">Lucano برندی
                    که با همکاری گروه ماموت و کمپانی چری چین شکل گرفته و به زودی به بازار عرضه خواهد شد. این برند با
                    تمرکز بر تولید خودروهای لوکس و آفرودی، تلاش می‌کند تجربه‌ای متفاوت برای مشتریانی فراهم کند که به
                    دنبال عملکرد بالا و امکانات پیشرفته‌تر هستند.</p>
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">در مسیر
                    برنامه‌ریزی برای کمپین تبلیغاتی معرفی این برند، پس از مشخص شدن هسته اصلی کمپین و نقاط تماس برند ساخت
                    یک ویدیو با هدف نمایش جزییات محصول و تثبیت هویت برند در ذهن مخاطبان به عنوان پیکان کمپین تعیین شد.
                    این ویدیو قرار بود فرآیند ساخت خودرو از خطوط تولید در کارخانه تا تست رانندگی در شرایط مختلف را به
                    تصویر بکشد و داستانی از کیفیت، فناوری و قابلیت‌های محصول جدید Lucano روایت کند.</p>
                <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">چالش‌های پروژه</h3>
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important; line-height: 25px">
                    برای تحقق این اهداف، تیم Baroot با چالش‌های متعددی روبه‌رو بود:
                    <br>
                    <span class="RayExtraBold"> نمایش فرآیند تولید در ایران:  </span>
                    <br>
                    ویدیو باید مراحل مختلف تولید خودرو و فناوری‌های پیشرفته استفاده‌شده در کارخانه Lucano در ایران و با
                    استفاده از توانایی های کشور را نشان می‌داد.
                    <br>
                    <span class="RayExtraBold">تصویرسازی قابلیت‌ها: </span>

                    <br>
                    قابلیت‌های آفرودی و امکانات خودرو باید در شرایط واقعی تست رانندگی به تصویر کشیده می‌شد.
                    <br>
                    <span class="RayExtraBold">زمان محدود:</span>

                    <br>
                    با توجه به نزدیکی زمان آغاز کمپین، مراحل تولید و تدوین ویدیو باید در بازه‌ای کوتاه انجام می‌شد.
                </p>
                <h3 style="font-size: 20px;letter-spacing: 0;" class="RayBlack">روند کار</h3>
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">سناریوی فیلم
                    لوکانو از خطوط تولید خودرو در کارخانه شروع می‌شد و با نمایش قابلیت‌های خودرو در تست رانندگی به پایان
                    می‌رسید.</p>
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">در چنین پروژه
                    هایی به علت محدودیت زمان فیلمبرداری، بار قسمت بیشتری از ویدیو را تدوین و CG به دوش میکشد که بتواند
                    کاستی های بصری را بهبود دهد.
                    <br>
                    بنابراین تلاش کردیم تا با ترکیب تصاویر، موسیقی و جلوه‌های بصری، ویدیویی تولید کنیم که نه تنها
                    اطلاعات فنی را به شکلی ساده و قابل‌فهم ارائه دهد، بلکه حس اعتماد را نیز در مخاطبان برانگیزد.
                </p>
                <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">
                    ویدیوی تولیدشده در رویداد معرفی خودرو و کمپین‌های تبلیغاتی Lucano به نمایش درآمد و بازخوردهای بسیار
                    مثبتی از مخاطبان، تیم کارفرمایی داخلی و خارجی خود دریافت کرد.
                </p>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/lucano-1.png" class="w-100"/>
            </div>
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/lucano-2.png" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/lucano-3.jpg" class="w-100"/>
            </div>
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/lucano-4.jpg" class="w-100"/>
            </div>
        </div>
        <div class="row p-3 mb-4">
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/lucano-5.jpg" class="w-100"/>
            </div>
            <div class="col-12 col-md-6">
                <img src="/static/images/portfolio-detail/lucano-6.png" class="w-100"/>
            </div>
        </div>
    </div>

{% endblock %}