{% extends 'index/base.html' %}
{% block content %}

<div class="margin-top-lg"></div>
<section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
    <div class="container">
        <div class="hero__content">
            <h2 class="portfolio-title PeydaBlack" style="text-align: center; font-size: 50px">
                SBT
                <br>
                [طراحی لوگو]
                </h2>
        </div>
    </div>
</section>

<div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">شرکت سنا برق توان یکی از بزرگترین تولید کنندگان درایوهای صنعتی در ایران است. ایده اصلی لوگو مدل کارکرد یک درایو به زبان ساده میباشد. در درایوهای الکتریکی جریان ورودی به صورت جریان متناوب (AC) وارد و سپس تبدیل به جریان مستقیم (DC) شده و میزان توان آن بسته به نیاز تنظیم گشته و یکبار دیگر تبدیل به جریان AC شده و خارج می‌شود.</p>
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;"> برای نشان دادن این ایده از یک خط که به صورت افقی کلمه SBT را قطع می کند استفاده شده. در ابتدا و انتهای خط فرم شکسته که القای جریان برق مورد نظر عموم (AC) را می کند مورد استفاده قرار گرفته و بر روی حرف B خط به صورت کاملا صاف است تا بیانگر جریان مستقیم یا DC باشد. </p>
            <p style="margin: 20px; font-size: 16px; text-align: justify; max-width: none !important;">برای القای بیشتر صنعتی بودن موضوع فرمی سنگین و بولد برای طراحی حروف استفاده شده است.</p>
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/sbt1.png" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-12">
            <img src="/static/images/portfolio-detail/sbt2.png" class="w-100" />
        </div>
    </div>
</div>

{% endblock %}