{% extends 'index/base.html' %}
{% block content %}

<div class="margin-top-lg"></div>
<section class="hero hero--overlay-layer hero-default text-right" dir="rtl">
    <div class="container">
        <div class="hero__content">
            <h2 style="text-align: center; font-size: 50px" class="PeydaBlack">زلمـونـد <br>
                لوازم زندگـی</h2>
            <p style="margin-top: 30px; font-size: 20px; text-align: justify; max-width: none !important;">زلمونـد به عنوان تولیـدکننده‌ی لوازم خـانگـی و لوازم شخصـی، زندگـی بـاکیفیـت را پشتیـبـانـی مـی‌کند.
            </p>
        </div>
    </div>
</section>

<div class="content-container ms-content text-right mx-auto p-4" dir="rtl" style="background-color:#fafafa;">
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">آغـاز روند کـار و دوستـی</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">خانواده‌ی محسن زاده از 1349 لوازم خانگی، لوازم شخصی و خدمات پشتیبانی آن‌ها را در جهت جریانِ بهتر زندگی ارائه کرده است. با پشتوانه‌ی 50 سال تعهد به کیفیت در لوازم زندگی و به امانتداریِ اعتبار بدست آمده در طی این سال‌ها، از تیم استودیو تجربه خواستند تا برند جدیدی را برای آن‌ها خلق کنیم تا نشانی باشد از تعهد و شور درونی آن‌ها برای ارتقای کیفیت زندگی.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/zelmond-1.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">تحلیـل مخـاطبـان</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">بررسی معیارهای تصمیم‌گیری گروه‌های هدف مختلف در ترکیب با دانش و بینش چندین ساله‌ی کارفرما، مسیر شفاف‌تری برای تیم طراحی خلق کرد.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/zelmond-2.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">شعـار برنـد</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">هنگامی که در حال توسعه‌ی نقشه‌ی ذهنی برای تولید راه‌حل‌ها بودیم، به اشتباه به جای "لوازم خانگی" نوشتیم "لوازم زندگی". یک اشتباه دوست داشتنی :).
                این ترکیب کلمات، تصویر و توقع ذهنی ما را از کارکرد واقعی این رده از محصولات به درستی نمایندگی می‌کند.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/zelmond-3.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">هویت بصری</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/zelmond-4.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack"></h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/zelmond-5.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">متون موثر (کپی رایتینگ) و ادبیات برند</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/zelmond-6.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">طراحی نقاط تماس دیجیتال</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">دسترسی کامل و همگن به خدمات و محتوای زلموند از طریق وب سایت برند طراحی شد.</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/zelmond-7.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack"></h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/zelmond-8.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack"></h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/zelmond-9.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack"></h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/zelmond-10.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack"></h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;"></p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/zelmond-11.jpg" class="w-100" />
        </div>
    </div>
    <div class="row p-3 mb-4">
        <div class="col-12 col-md-4">
            <h3 style="font-size: 20px;letter-spacing: 0;" class="PeydaBlack">زلمونـد؛ لوازمـی لبریـز از زندگـی</h3>
            <p style="margin-top: 20px; font-size: 16px; text-align: justify; max-width: none !important;">زلموند خلق دسترسی به کیفیت در لوازم زندگی را ارزش می‌داند و معتقد است که زمان انسان‌ها، به جای دغدغه داشتن در مورد چگونگی انجام شدن کارها، باید صرف لذت بردن از حضورِ خود و دیگران، و ابراز درونیات و احساسات شود.
                در این مسیر استودیو تجربه در کنار زلموند خواهد ماند...</p>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../static/images/zelmond-12.jpg" class="w-100" />
        </div>
    </div>


</div>

{% endblock %}